[2022-07-01 05:07] lovethakker02 opened #5431 "bug report: unknown.Error"
connect ETIMEDOUT 13.107.136.9:443

stack:
Error: connect ETIMEDOUT 13.107.136.9:443
	at TCPConnectWrap.afterConnect [as oncomplete] (node:net:1161:16)
	at TCPConnectWrap.callbackTrampoline (node:<REDACTED: user-file-path>:130:17)

[2022-07-01 06:55] HuihuiWu-Microsoft commented on #5418
Hi @amruta1509  , Can you help attach the detailed logs in output window which should be in this pattern: 'Failed to install sharepoint generator, error = '${error}'?

[2022-07-01 13:58] amruta1509 opened #5436 "bug report: SPFx.DependencyInstallFailed"
Failed to install package yo. Learn how to remediate in the [output](command:fx-extension.showOutputChannel).

stack:
DependencyInstallFailed: Failed to install package yo. Learn how to remediate in the [output](command:fx-extension.showOutputChannel).
	at Object.DependencyInstallError (<REDACTED: user-file-path>:2:6601136)
	at SPFxPluginImpl.postScaffold (<REDACTED: user-file-path>:2:6606310)
	at

[2022-07-03 16:02] #5357 closed

[2022-07-04 02:02] #5356 closed

[2022-07-04 02:48] HuihuiWu-Microsoft commented on #5418
Hi @amruta1509 , to quick fix the issue, you can remove following files under C:\Users\AMRUTA\\.fx\bin\spfx and files under C:\Users\AMRUTA\\.fx\bin\spfx\node_modules\yo, then try again. Please let me know whether this works for you.
![image](https://user-images.githubusercontent.com/73154171/177072044-5a43c67f-e402-44e6-a359-ace3312128f2.png)

To dig this further, I'd like to know whether you hav

[2022-07-04 06:24] adashen commented on #5431
Hi @lovethakker02 Thanks for reporting the issue. Can you help to provide the reproduce steps with more detail info?
Thanks~

[2022-07-04 08:19] HuihuiWu-Microsoft commented on #5436
Duplicated with https://github.com/OfficeDev/TeamsFx/issues/5418

[2022-07-04 08:22] #5436 closed

[2022-07-04 10:13] JerryYangKai commented on #5429
Hi @jk-msft, thanks for posting this issue, I am trying to repro your bug but I could not repro it in a clean OSX with node 16.15.1.
What I suggest is could you please upgrade the VS code and Teams Toolkit to the latest version and try again?
If the bug still exist, the second solution is clean your npm global package and clean it.
Hope it will help you.

[2022-07-04 10:13] JerryYangKai commented on #5430
Hi @jk-msft, thanks for posting this issue, I am trying to repro your bug but I could not repro it in a clean OSX with node 16.15.1.
What I suggest is could you please upgrade the VS code and Teams Toolkit to the latest version and try again?
If the bug still exist, the second solution is clean your npm global package.
Hope it will help you.

[2022-07-04 13:23] ThomasPe opened #5451 "Return Tenant Id in getUserInfo()"
**Is your feature request related to a problem? Please describe.**
To support multitenant scenarios it's necessary to get the users home tenant id inside a node/js Azure Function.

**Describe the solution you'd like**
An additional field containing the tenant id could be returned by getUserInfo() as this is already retreived from the access token which also includes the `tid`.

[2022-07-04 16:10] ichivers commented on #4205
Any progress on this?  I'm trying to debug using android emulator and need to change the hostname to something other than localhost.

[2022-07-05 05:47] lovethakker02 commented on #5431
I am learning to build Teams app using below tutorial

https://docs.microsoft.com/en-us/microsoftteams/platform/sbs-gs-spfx?tabs=vscode%2Cviscode

When I tried local debug I got this error. after running below command multiple time, the issue was resolved.
npm install

[2022-07-05 16:35] jk-msft commented on #5430
Hi @JerryYangKai ,

I'm still facing the issue.
I'm using the latest VSCode, Teams Toolkit and Node 16.15.1 at the moment.

When I attempt to start a new Message Extension app, I am faced with this error.
![Screen Shot 2022-07-05 at 9 31 37 AM](https://user-images.githubusercontent.com/107141247/177374947-d0ddf138-91f6-4834-9b9a-c4f5eba0708d.png)

Then when I attempt to manually run the app in Deb

[2022-07-05 19:42] AndrewCraswell commented on #4205
Depending on your project setup, you might be able to override the settings that Teams Toolkit is applying. We use Create-React-App, and so the settings for hostname, port, and https can be controlled using `PORT`, 'HOST', and `HTTPS` respectively. Teams Toolkit is loading their own environment variables which overwrote what we had configured in our `.env` file.

One way around this is to modify t

[2022-07-06 02:19] JerryYangKai commented on #5430
The bug 'Teams Dev Error', it seems not come from the Teams Toolkit extension. You could try to disable that extension.
For the Prerequisites Check, @qinezh do you have some suggestions about this?

[2022-07-06 20:53] tcorvazier opened #5465 "Bot not receiving all channel messages"
**Describe the bug**
Bot not receiving all channel messages (unless it's explicity mentioned) despite having the ChannelMessage.Read.Group RSC permission

**To Reproduce**
Add the following configuration in Teams app manifest:
`  "authorization": {
        "permissions": {
            "resourceSpecific": [
                {
                    "type": "Application",
                    "name": "Ch

[2022-07-06 20:57] robertstewartnz opened #5466 "Error Deploying to the Cloud in Visual Studio v17.3.0"
This was working fine, and now it is broken. I get the following error every time I try to deploy. Nothing in the config seems to have changed from when it worked.

As a side note the deploy from VS seems very fragile. What are the recommend steps to deploy a production app to Azure? All the authentication is set up correctly because the app is working I just can't deploy the latest "Blazor" app c

[2022-07-07 08:16] blackchoey commented on #5465
Hi @tcorvazier thanks for reaching us. I have created another issue at https://github.com/MicrosoftDocs/msteams-docs/issues/6397 which can better help on your question. Let's continue the discussions there.

[2022-07-08 03:13] JerryYangKai commented on #5466
Hi @robertstewartnz !  Thanks for reporting this bug.
Could you please re-deploy this project, and paste all the output log instead of the result, for us to tracking this issue?

[2022-07-08 10:11] robertstewartnz commented on #5466
Hi Jerry,

Thanks for getting back to me.

I managed to deploy my code by using the standard publish profiles using a Zip Deploy. I also manually created a new AAD app registration to go with it. That seems like a much better way to deploy and I can now easily target multiple deployment environments. It may be worth you guys doing an article on this approach to help others.

Even when the Teams To

[2022-07-08 10:15] JerryYangKai commented on #5466
@robertstewartnz  Great to hear that this issue is not blocking you any more. Your idea is valuable to us, what we are working on is make the operation open and clear to our user!

[2022-07-08 10:16] JerryYangKai commented on #5466
@therealjohn  Here's some idea from our user.

[2022-07-08 11:43] MRoutchkan opened #5483 "Microsoft.JSInterop.JSException: An exception occurred executing JS interop: Unable to convert "meetingStage" to Enum "xxxx.Interop.TeamsSDK.FrameContext"
**Describe the bug**
getting the context in the tab that was placed on stage after click "start presenting .." button throws an Error

`var context = await MicrosoftTeams.GetTeamsContextAsync();`

[2022-07-08T10:53:59.528Z] Error: Microsoft.JSInterop.JSException: An exception occurred executing JS interop: Unable to convert "meetingStage" to Enum "rmTeamsPresenter.Interop.TeamsSDK.FrameContext"..

[2022-07-08 13:32] Juriyx commented on #4297
That works!
@georgemichailou thank you!

[2022-07-08 17:03] therealjohn commented on #5466
@robertstewartnz Yes, we want to improve this area of the toolkit and/or better integrate with existing VS features. I'd love to connect with you directly and briefly chat about this so I can capture the right details.

Would you be willing to setup a time to chat with me about this?

[2022-07-10 16:51] bhagy14 opened #5484 "bug report: SPFx.SPFxScaffoldError"
Exec command: "yo @<REDACTED: user-file-path> --skip-install true --component-type webpart --component-name helloworld --framework react --solution-name Hello --environment spo --skip-feature-deployment true --is-domain-isolated false" timeout, 120000 ms

stack:
SPFxScaffoldError: Exec command: "yo @<REDACTED: user-file-path> --skip-install true --component-type webpart --component-name helloworld

[2022-07-11 01:55] #4516 closed

[2022-07-11 01:56] nliu-ms commented on #4747
Thanks @raghavared , will close this issue, please refer https://github.com/OfficeDev/TeamsFx/issues/4516

[2022-07-11 01:56] #4747 closed

[2022-07-11 03:41] robertstewartnz commented on #5466
Hi Guys,

Another note on this. I’m building a SaaS app for Teams that needs to be multi-tenant. I managed to get it working in multiple tenants but it broke all the MS Graph api calls unless it was running in the original tenant. After a lot of troubleshooting including a bunch of different code attempts I got it working by setting tenantId to “common” in the state.dev.json file.

This file isn’t

[2022-07-11 14:00] ichivers commented on #4130
The CDN "fix" suggested in https://github.com/OfficeDev/TeamsFx/issues/2039 takes a while to provision and if you update your tab code a while to refresh.  Static Web App would be much better, has this progressed any further?

[2022-07-12 01:36] qinezh commented on #5430
@jk-msft Can you please try to run `npm install` under the 'bot' folder in your command line tool and check if the same error occurs?

[2022-07-12 07:42] KennethBWSong commented on #5466
Hi @robertstewartnz Thanks for reporting this issue. Currently multi-tenant is not officially supported for .Net projects. We have already added this into our backlog and will let you know when we have any update.

[2022-07-12 07:50] JerryYangKai commented on #5483
@MRoutchkan Thanks reporting this issue, I will start to repro the bug and find the reason.

[2022-07-12 10:16] HuihuiWu-Microsoft commented on #5484
Hi @bhagy14 , from the error logs, it timed out to run 'yo @microsft/sharepoint' to scaffold SPFx project. Could you help check your network status and try again to see if this still exists?

[2022-07-12 12:37] rfjschouten opened #5506 "Teams manifest validation error - WebApplicationInfo id with token"
**Describe the bug**
When I add a Teams Toolkit token in Id property of the WebApplicationInfo object, I receive an error while publishing the Teams App (manifest).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to your 'manifest.template.json' file
2. Put in WebApplicationInfo like this using a token containing a guid:
"webApplicationInfo": {
        "id": "{{state.fx-resource-bot.botId

[2022-07-12 13:51] jidddddd commented on #4130
Hi @ichivers, we are working on alternative hosting options like Azure Static Web Apps, we'll provide more update once the option is available.

[2022-07-13 00:36] MuyangAmigo opened #5507 "Team dev newbie seeing: "Error while reading manifest.json: "manifestVersion" is required""
I am using Team Toolkit for Visual Studio installed in VS 2019 and I am seeing this error when I launch the debugger (i.e., F5) which is targeting our Microsoft Teams tenant: "Error while reading manifest.json: "manifestVersion" is required".

I checked and I do see the “upload a custom app” menu option in Temas which the doc says indicates I have enough permission to test a Teams app in a Tab.

A

[2022-07-13 02:00] #5141 closed

[2022-07-13 02:23] nliu-ms commented on #5506
Thanks for reporting this issue @rfjschouten ! I just tried with the lasted Teams Toolkit (v4.0.2), but cannot reproduce it, the validation and publish succeed.

Can you please provide your Teams Toolkit version? As what you described, the token and value look good. So wondering if it is some bug in old versions. Thanks!
![image](https://user-images.githubusercontent.com/71362691/178636870-a3533ed

[2022-07-13 08:18] KennethBWSong commented on #5466
@robertstewartnz We now have a tutorial for enable multi-tenant in node projects [here](https://github.com/OfficeDev/TeamsFx/wiki/Multi-tenancy-Support-for-Azure-AD-app#update-your-project). Updating tenant id in state.${env}.json file is a workaround to enable multi-tenant, and we will keep improving our product to provide an easier way to enable multi tenant.

[2022-07-14 01:55] nliu-ms commented on #5507
@MuyangAmigo  does your manifest contains "manifestVersion"?
![image](https://user-images.githubusercontent.com/71362691/178878311-8b03205e-f148-4e19-94a9-7c5c54dfc6dc.png)

[2022-07-14 02:04] blackchoey commented on #5465
@tcorvazier as we got a solution from the msteams-docs issue I created for you, I will close this issue. If you have any further questions, please post to that issue.

[2022-07-14 02:04] #5465 closed

[2022-07-15 03:46] JerryYangKai commented on #5483
@MRoutchkan  Hi, this error caused from the Interop part in our template code.
Because of Teams SDK do not have the C# version, so we wrapper it as a simple one.
You could check the line 230 in TeamsContext.cs, we have not add the meetingStage in the Enum class, since it can be edit by developer, I suggest you could add this in the enum and try again.
Thanks!

[2022-07-15 07:40] Prasad-MSFT commented on #2888
@adashen - This issue seems to be persist. We are checking with engineering team when this is going to be fixed and rolled out. We will inform you once we get further update. Thanks!

[2022-07-18 01:52] nliu-ms commented on #5507
@MuyangAmigo As Teams Toolkit for VS 2019 is deprecated and no longer maintained. I will close this issue.

[2022-07-18 01:52] #5507 closed

[2022-07-18 06:56] lovethakker02 commented on #5431
Hi. I have recently started learning the Teams app development and I face the issue in my first set up. If I face it repeatedly I will update it here. I don't face this issue with SPFx development on my machine.

[2022-07-18 08:37] #5352 closed

[2022-07-18 08:54] HuihuiWu-Microsoft commented on #5431
Thanks @lovethakker02, this looks like an issue from npm install instead of Team Toolkit. Please help check whether you have it repeatedly or not and feel free to update here.

[2022-07-19 02:54] #5418 closed

[2022-07-19 12:50] kylekdudley opened #5569 "bug report: AppStudioPlugin.TeamsAppPublishFailed"
Failed to publish Teams app with ID f4bc224c-b0d7-45ef-85af-445c5ca810b4.Request path: POST <REDACTED: user-file-path>%3Fteamstoolkit=true innerError: Failed to execute backend request.

stack:
TeamsAppPublishFailed: Failed to publish Teams app with ID f4bc224c-b0d7-45ef-85af-445c5ca810b4.Request path: POST <REDACTED: user-file-path>%3Fteamstoolkit=true innerError: Failed to execute backend reques

[2022-07-20 03:42] jk-msft commented on #5430
@qinezh ,
Sorry for the delay.

Here's the result.

[code]

Please see below for the full log.

[2022-07-20T03_40_19_172Z-debug-0.log](https://github.com/OfficeDev/TeamsFx/files/9146295/2022-07-20T03_40_19_172Z-debug-0.log)

[2022-07-20 04:25] rfjschouten commented on #5506
Sorry for the delay (summer holiday). Still have the issue and using latest version v4.0.2 of the toolkit. Both on creating package as publish to Teams action from the menu.
________________________________
Van: msftbot[bot] ***@***.***>
Verzonden: Wednesday, July 20, 2022 5:02:19 AM
Aan: OfficeDev/TeamsFx ***@***.***>
CC: Robert Schouten ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [OfficeDe

[2022-07-20 05:31] qinezh commented on #5430
@jk-msft  I suspect the issue might be related to your npm config (e.g., customized registry), as the package [adaptivecards-templating@^2.1.0](https://www.npmjs.com/package/adaptivecards-templating) is available on npmjs.

[2022-07-20 06:08] nliu-ms commented on #5569
Thanks @kylekdudley for reporting this issue. Can you please try it again? It's probably an intermittent error from server side.

[2022-07-20 08:35] ichivers commented on #5431
I often get stuck on this when debuggiung:
(4/5) Checking and installing NPM packages for tab app (react-based) ...
Using a Mac / Visual Studio Code.  Sometimes running npm install and restarting Code fixes it, other times I have to delete the contents of the node_modules folder completely.  Can't see anything wrong in the npm log files and I don't know if there are any other logs where I can see

[2022-07-20 08:51] HuihuiWu-Microsoft commented on #5431
Hi @ichivers , that should be a different issue which is due to prerequisite checker. And from the log you pasted here, it comes from react-based Azure tab app. @qinezh could you help check?

[2022-07-20 09:44] kuojianlu commented on #5431
@ichivers Sorry for the inconvenience. This is a bug caused by concurrent progress bar. The workaround is to retry. This bug has been already fixed in #5471. The fix will take effect in next release (next week). Please use the latest release then.

FYI: @HuihuiWu-Microsoft @qinezh

[2022-07-20 10:36] mike-bell-gettogetherai opened #5581 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Received the error below when attempting to debug in local environment using Teams Toolkit.

local node version = 14.19.1

******************
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 400, API name: update-icon, X-Correlation-ID: undefined. This may come from some intermittent service error. Please

[2022-07-20 16:54] pzou19741 opened #5582 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 400, API name: update-icon, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: {"errors":{"base64String":["The input was not valid.","Unexpected character encounte

[2022-07-21 02:35] nliu-ms commented on #5582
Thanks @pzou19741 , it's duplicate with https://github.com/OfficeDev/TeamsFx/issues/5581 so I will close this one.

[2022-07-21 02:35] #5582 closed

[2022-07-21 02:50] nliu-ms commented on #5581
Thanks @mike-bell-gettogetherai , have you changed the icons under templates/appPackage/resources? Or using the default icons provided by Teams Toolkit?

[2022-07-21 02:57] mike-bell-gettogetherai commented on #5581
I am using my own icons in this case.

On Wed, Jul 20, 2022 at 10:50 PM Ning Liu ***@***.***> wrote:

--
*Mike Bell*
Co-Founder, Get Together
GetTogether.ai <https://www.gettogether.ai>

[2022-07-21 03:05] nliu-ms commented on #5581
@mike-bell-gettogetherai  Can you please try to use the default icons and see if it works? I want to check if it's caused by invalid icons.

[2022-07-21 03:06] nliu-ms commented on #5581
@pzou19741 Are you using the default icons or with your own icons?

[2022-07-21 03:08] mike-bell-gettogetherai commented on #5581
These are the icons that are published in a production application. I can
go back and try tomorrow with the default, but they’ve never been an issue
before.

On Wed, Jul 20, 2022 at 11:05 PM Ning Liu ***@***.***> wrote:

--
*Mike Bell*
Co-Founder, Get Together
GetTogether.ai <https://www.gettogether.ai>

[2022-07-21 03:09] nliu-ms commented on #5581
Thanks @mike-bell-gettogetherai , that's helpful.

[2022-07-21 03:18] nliu-ms commented on #5506
Thanks @rfjschouten , have a nice holiday!

I totally understand that from the information you provided, it looks like something wrong with Teams Toolkit that it doesn't replace the token correctly. But I checked the code and cannot reproduce it. So wondering if you can provide your manifest.template.json and state.xx.json to me when you have time. Want to make sure that I didn't miss anything.

[2022-07-21 07:24] nliu-ms commented on #5569
Hey @kylekdudley  this issue may be related to the Teams infra outage. Can you please try it again and see if it works now? Thanks!

[2022-07-21 07:52] nliu-ms opened #5590 "Supports different manifest template for one project"
**Is your feature request related to a problem? Please describe.**
Is it possible to have multiple manifest templates per Teams Tookit app? I want to have apps with and without offer specified, and with different sets of tabs for a single ASP.NET app. How to achieve that?

**Describe the solution you'd like**
User can define manifest template path for each environment. If it is not defined for an

[2022-07-21 08:00] nliu-ms commented on #5590
https://stackoverflow.com/questions/73058178/multiple-manifest-templates-per-teams-tookit-app

[2022-07-21 08:54] MRoutchkan commented on #5483
Hello @JerryYangKai, thank you! it works!

[2022-07-21 08:54] #5483 closed

[2022-07-21 09:27] v-saikirang opened #5596 "Teams app failing in GCC-H tenant"
Hi,
We have created a Teams App using Teamsfx. It works fine in commercial tenants and GCC tenant but fails to load in GCC-Tenant.

When clicked on the login button it shows the below error in console logs.

![image](https://user-images.githubusercontent.com/87538202/180179849-b7145289-3b28-4ff9-a00f-722b69264794.png)

We have checked the App registration and App service and everything looked alri

[2022-07-21 14:58] nakul91 opened #5598 "Data required: validDomain"
As I am trying to add a provision in the cloud using the VS  getting below error

_**code:AppStudioPlugin.GetRemoteConfigFailed, message: Missing configuration data for manifest. Data required: validDomain You must run 'Provision in the cloud' first to fill out certain fields in the manifest. Click Get Help to learn more about why you need to provision.**_

below is the JSON file

{
  "$schema": "

[2022-07-21 16:32] jsabety opened #5600 "bug report: SPFx.NpmVersionNotSupported"
NPM version v8 is not supported for SPFx v14. Check <REDACTED: user-file-path> for more details.

stack:
NpmVersionNotSupported: NPM version v8 is not supported for SPFx v14. Check <REDACTED: user-file-path> for more details.
    at Object.NpmVersionNotSupportedError (<REDACTED: user-file-path>:2:6653734)
    at Object.func (<REDACTED: user-file-path>:2:6684644)

[2022-07-22 09:47] mike-bell-gettogetherai commented on #5310
@nliu-ms have there been any updates on this? I'm having the same issue reported here:

https://docs.microsoft.com/en-us/answers/questions/934965/teams-toolkit-suddenly-failing-for-local-debug.html?childToView=936355#comment-936355

[2022-07-22 10:29] JohanKlijn opened #5605 "teamsfx package without the requirement to login into an Microsoft 365 account"
**Is your feature request related to a problem? Please describe.**
In our build pipeline I want to generale the Teams appPackages for the different environment. We don't want to publish the appPackages, because we want to manually publish the packages. To only generate the package I would assume I don't need a Microsoft 365 account, because it's just using all the files in my project, right?

**De

[2022-07-22 12:02] #5484 closed

[2022-07-22 12:26] jsabety opened #5606 "bug report: SPFx.SPFxScaffoldError"
Exec command: "yo @<REDACTED: user-file-path> --skip-install true --component-type webpart --component-name helloworld --framework react --solution-name helloworld --environment spo --skip-feature-deployment true --is-domain-isolated false" timeout, 120000 ms

stack:
SPFxScaffoldError: Exec command: "yo @<REDACTED: user-file-path> --skip-install true --component-type webpart --component-name hello

[2022-07-22 14:28] JohanKlijn opened #5607 "CI-CD support, feels CI-CD are mixed."
**Is your feature request related to a problem? Please describe.**
Not able to integration Teams Toolkit with our CI-CD patterns and practices

**Describe the solution you'd like**
First of all, I really like the Teams Tools kit. I allows you to easily build and manually deploy application from Visual Studio Code. The part that doesn’t feel good, is the way CI-CD is done/suggested.
In the manual (

[2022-07-24 05:52] frankchen76 opened #5608 "Created new VS2022 project with Teams toolkit bot project, hit F5 stuck at MS Teams web UI with spinner icon"
**Describe the bug**
When I used VS2022 with MS Team toolkit to create a bot application, after I hit F5, the browser showed my MS Teams with a spinner and there is nothing display except the spinner. I found out the AAD apps were created in my AAD and MS Teams bot was created on MS Teams developer portal and endpoint was configured to my ngrok. however, the MS Teams web page stuck at spinner.

**

[2022-07-24 06:53] anoopgcmz opened #5609 "teamsFx.login() popup consent shows white screen and freez."
**Describe the bug**
To get access to Graph api we use teamsFx sdk. The popup for obtaining user consent is freezed and no data is shown. The re-direct URL is shown as "/blank-auth-end.html" which was not defined. This issue is only for MS Teams desktop applications. In browser It is working fine.
Due to this issue we are not able to access the graph api.

**Code we use**
`const teamsfx = new Team

[2022-07-24 08:35] codylittle opened #5610 "bug report: AppStudioPlugin.LocalAppIdCreateFailed"
Failed to create local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "VS30063: You are not authorized to access https://domoreexp.visualstudio.com."

stac

[2022-07-24 08:37] codylittle commented on #5610
First experienced 22/07/22, tried signing out and in again but issue persists. Using M365 dev tenancy with sideloading enabled.

[2022-07-24 10:00] mike-bell-gettogetherai opened #5611 "bug report: AppStudioPlugin.LocalAppIdCreateFailed"
Failed to create local debug teams app in app studio, due to 422, Failed to create teams app in app studio, due to Error, Request failed with status code 422 data: "VS30063: You are not authorized to access https://domoreexp.visualstudio.com."

stack:
LocalAppIdCreateFailed: Failed to create local debug teams app in app studio, due to 422, Failed to create teams app in app studio, due to Error, Re

[2022-07-24 10:00] mike-bell-gettogetherai commented on #5610
Same issue this morning - just reported as well

[2022-07-24 11:58] ronenziporen opened #5612 "bug report: AppStudioPlugin.LocalAppIdCreateFailed"
Failed to create local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "VS30063: You are not authorized to access https://domoreexp.visualstudio.com."

stac

[2022-07-25 01:49] nliu-ms commented on #5612
Thanks @ronenziporen ! I'm trying to figure out the root cause, this issue is duplicate with https://github.com/OfficeDev/TeamsFx/issues/5610, so will close this one.

[2022-07-25 01:49] #5612 closed

[2022-07-25 02:08] #5611 closed

[2022-07-25 02:38] SpicyNoodless commented on #5610
Same here, I can access https://domoreexp.visualstudio.com in browser, but cannot from Teams ToolKit when building or provision a Teams app. It works good in last Friday. Looks like the url has extra dot in the end? I have tried to click the url and it cannot be reached, it's "https://[domoreexp.visualstudio.com.%22](https://domoreexp.visualstudio.com.%22/)/".

<img width="1334" alt="image" src="h

[2022-07-25 03:35] nliu-ms commented on #5310
Hey @mike-bell-gettogetherai , the updates are tracked by this issue: https://github.com/OfficeDev/TeamsFx/issues/5277 . And it has been mitigated.

Though you are facing local debug failures as well, but it seems not the same root cause. Do you mean that you only fail on Mac, with 4.0.2 version? And 4.0.0 works? Can you please create a bug here https://github.com/OfficeDev/TeamsFx/issues/new/choo

[2022-07-25 05:26] nliu-ms commented on #5610
Sorry for the inconvenience! The issue is caused by the API failure from Teams Developer Portal. We have filed a ticket to them and they are actively investigating it. We will inform you once we get any updates.

[2022-07-25 06:46] codylittle commented on #5610
Thanks for the update Ning, is there any way around this? What would be the steps of manually uploading the metadata to the Teams Developer Portal?

[2022-07-25 06:56] contactkanika12 opened #5616 "bug report: AppStudioPlugin.LocalAppIdCreateFailed"
Failed to create local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "VS30063: You are not authorized to access https://domoreexp.visualstudio.com."

stac

[2022-07-25 08:10] imadilkhalil opened #5617 "bug report: AppStudioPlugin.LocalAppIdCreateFailed"
Failed to create local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "VS30063: You are not authorized to access https://domoreexp.visualstudio.com."

stac

[2022-07-25 09:09] imadilkhalil commented on #5617
This seems to be working now.

[2022-07-25 09:09] #5617 closed

[2022-07-25 09:22] mike-bell-gettogetherai opened #5619 "Cannot Run Teams Toolkit 4.0.2 Local Debug with Mac M1"
I am suddenly getting issues (after the most recent Teams Toolkit upgrade) for testing local apps, both on bot and tabs. After 5+ hours of attempting to reinstall / clear everything, I'm finally posting here...

Note: I'm running on a Mac M1 with node 14.19.1 and have seen similar issues reported by others with Mac M1.

The bot is now failing to run due to the error below:

[code]

I can manually

[2022-07-25 10:38] codylittle commented on #5610
Just an update, I can successfully launch debug now. Feel free to close once you have confirmation from others.

[2022-07-25 18:39] frankchen76 commented on #5608
couple things I also found out that:

- I don't see "deploy" option is checked when I checked the solution property->project configuration. does that mean the app was delivered to MS Team?
![image](https://user-images.githubusercontent.com/9618662/180849854-15beda70-75b6-45f1-834a-23dc8bce00b6.png)

- the debug output also showed the below error message.
![image](https://user-images.githubusercont

[2022-07-26 00:25] thure commented on #5610
We’ve fixed the issue in the App Studio API and are able to demonstrate the issue is now mitigated.

I believe this issue can now be closed, though folks should please feel free to reopen if they are still having trouble with this functionality.

[2022-07-26 03:24] nliu-ms commented on #5616
Hey @contactkanika12 , I will close this one as it's duplicate with https://github.com/OfficeDev/TeamsFx/issues/5616. And this issue has been mitigated, can you please try again and let me know if it works now? Thanks!

[2022-07-26 03:24] #5616 closed

[2022-07-26 03:51] arielpriya opened #5620 "bug report: Core.DecryptionError"
Project update failed because of DecryptionError(file:local.userdata):Cipher text is broken, if your local file '*.userdata' is not modified, please report to us by click 'Report Issue' button.

stack:
DecryptionError: Project update failed because of DecryptionError(file:local.userdata):Cipher text is broken, if your local file '*.userdata' is not modified, please report to us by click 'Report Is

[2022-07-26 04:00] arielpriya opened #5621 "bug report: Core.DecryptionError"
Project update failed because of DecryptionError(file:local.userdata):Cipher text is broken, if your local file '*.userdata' is not modified, please report to us by click 'Report Issue' button.

stack:
DecryptionError: Project update failed because of DecryptionError(file:local.userdata):Cipher text is broken, if your local file '*.userdata' is not modified, please report to us by click 'Report Is

[2022-07-26 04:01] arielpriya commented on #5621
Getting this issue when trying to run teams extension

[2022-07-26 05:53] sandhyar66 opened #5623 "Missing Add Features option"
Issue Type: <b>Bug</b>

1. Install the latest version of VS Code
2. Install the Teams Toolkit version - 4.0.2
3. Check for Add Features option under Development, which is missing.

Attached screenshot below for reference:
![image](https://user-images.githubusercontent.com/108132144/180933016-bd4b5883-f455-41c2-a54d-4ecd6849f064.png)

Note: Need the Add Features option.

Extension version: 4.0.2
VS

[2022-07-26 06:44] sffamily commented on #5596
Due to the product scope and resource access limitation, we are not able to test in non-commercial tenants like GCC/GCC-H, so we are not fully supporting GCC/GCC-H yet. We will see how it will change in the future. Sorry for the inconvenience it brought to you.

[2022-07-26 06:59] nliu-ms commented on #5605
Hey @JohanKlijn , can you please provide your version of teamsfx cli? There was a version (0.10.1) requires M365 account for `teamsfx package` command. But new versions should not. Related issue: https://github.com/OfficeDev/TeamsFx/issues/3753

[2022-07-26 07:08] nliu-ms commented on #5608
Sorry for the inconvenience @frankchen76 , the problem may come from the failure of `Configure Microsoft Teams app `. Besides AAD and bot, this step will create a Teams app as well. So the failure of this step may be the root cause.
![image](https://user-images.githubusercontent.com/71362691/180944052-2800c8f6-58d7-4218-b4e6-59917b8a4aef.png)

And I highly doubt it is related to a known backend se

[2022-07-26 07:08] tecton commented on #5623
Hi @sandhyar66, are you developing an SPFx tab project? "Add Features" is not supported for that capability now.

[2022-07-26 07:22] SLdragon commented on #5621
Hi, @arielpriya , clientSecret/botPassword are encrypted based on projectId, you can find the source code here:
https://github.com/OfficeDev/TeamsFx/blob/d7068751be2be1be7dcd0aafdcaf4a57e53705d8/packages/fx-core/src/core/crypto.ts#L13

So if you changed/removed projectId inside `.fx\configs\projectSettings.json` file, then it will throw this error.

For quick workaround, you can remove `.fx\states

[2022-07-26 07:35] sandhyar66 commented on #5623
@tecton , Yes I am trying to develop a personal app for Microsoft Teams. Hence, using the SPFx Tab Project. Could you please let me know if there is any other option to setup a CI/CD pipeline if the Add Features option is not supported.

Also, please do let me know what are the projects that support the "Add Features" option.

[2022-07-26 07:43] HuihuiWu-Microsoft commented on #5600
Hi @jsabety , NPM v8 is not supported by SPFx v1.14. You can check https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility for more details.

[2022-07-26 07:43] #5600 closed

[2022-07-26 08:11] tecton commented on #5623
You could create a Tab app to embed your existing webpage or "SSO-enabled tab" for a new one. They all support the "Add Features" option.

@IvanJobs could you please help to take a look at the CI/CD question?

[2022-07-26 08:19] SLdragon commented on #5620
Duplicated with this issue: https://github.com/OfficeDev/TeamsFx/issues/5621

[2022-07-26 08:19] #5620 closed

[2022-07-26 08:22] KennethBWSong commented on #5609
@anoopgcmz Thank you for reporting this issue! Seems you are hosting this page on Azure Webapp. You may need to config the initiateLoginEndpoint [here](https://github.com/OfficeDev/TeamsFx/tree/dev/packages/sdk#invoke-graph-api-on-behalf-of-teams-user-user-identity). Would you please check whether the initiateLoginEndpoint is config correctly?

[2022-07-26 08:54] #5610 closed

[2022-07-26 10:07] jidddddd commented on #5607
Hi @JohanKlijn , appreciate the feedback! Better deployment experience is an area we are actively working on, we will provide more update once we've made more progress.

In the mean time, could you share with us how your team currently use CI/CD with teamsfx to work around these issues or are you using teamsfx's built in features?

[2022-07-26 10:35] sandhyar66 commented on #5623
@tecton, Thanks for the update.

@IvanJobs really needed your help on setting up the CI/CD Pipeline.

[2022-07-26 19:09] XiaofuHuang commented on #5619
Hi @mike-bell-gettogetherai, thank you for your reporting. We can't reproduce the bot bug on m1. Would you like to provide more information about it? (e.g. the screenshot, .fx/configs/projectSettings.json, ./bot/.env.teamsfx.local)

For the tab error message, if it is shown in the debug console, you can ignore it, because it is an error thrown by the teams webside, and it does not affect the displ

[2022-07-26 21:03] frankchen76 commented on #5608
@nliu-ms thanks for your note. I was aware the service outage which you mentioned and believe it might be associated with that. when I rerun everything, it actually worked.
a side question, I felt about the Team toolkit (both vscode and vs one) wrapped up a lot of provisioning processes. do you recommend any documents which I can understand what exactly those processes are? I recalled previously w

[2022-07-26 21:56] nickolitesla opened #5626 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 503, API name: get-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "<!DOCTYPE html PUBLIC '<REDACTED: user-file-path><REDACTED: user-file-path>/DTD XHTML 1

[2022-07-27 01:28] SpicyNoodless opened #5627 "Service unavailable with error code 503 when launching debug"
Service unavailable with error code 503 when launching debug, it works good yesterday, and I didn't change any of my codes.

More info
<img width="1443" alt="image" src="https://user-images.githubusercontent.com/76025453/181140085-761940df-0cf8-409e-a812-e3eaa4c3fbb9.png">

App Studio in Teams is unavailable also
<img width="1380" alt="image" src="https://user-images.githubusercontent.com/76025453

[2022-07-27 01:39] nliu-ms commented on #5608
That's great! Can you please check this doc: https://docs.microsoft.com/en-us/microsoftteams/platform/toolkit/provision , which describes what resources are provisioned by Teams Toolkit. And under {project root}/templates/azure, there are some bicep files providing some clues. Thanks!

[2022-07-27 01:39] #5608 closed

[2022-07-27 02:05] nliu-ms commented on #5598
Thanks @nakul91 for reporting this issue? Can you please provide your Visual Studio and Teams Toolkit version? Thanks!

[2022-07-27 02:52] HuihuiWu-Microsoft commented on #5606
Hi @jsabety , from the error logs, it timed out to scaffold SPFx project. Could help check your network and retry to see if you still have the problem?

[2022-07-27 03:13] mohan-gundlapalli opened #5628 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 503, API name: update-icon, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "<!DOCTYPE html PUBLIC '<REDACTED: user-file-path><REDACTED: user-file-path>/DTD XHT

[2022-07-27 03:22] nliu-ms commented on #5627
@SpicyNoodless  Thanks for reporting this bug! From the telemetry the error rate is about 50%, so maybe you can retry several times. We reported this issue to Developer Portal team.

[2022-07-27 04:14] AbrievanWyk opened #5630 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 503, API name: update-icon, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "<!DOCTYPE html PUBLIC '<REDACTED: user-file-path><REDACTED: user-file-path>/DTD XHT

[2022-07-27 05:58] nliu-ms commented on #5630
Thanks @AbrievanWyk , this is duplicate with https://github.com/OfficeDev/TeamsFx/issues/5627, will close this one.

[2022-07-27 05:58] #5630 closed

[2022-07-27 05:58] nliu-ms commented on #5628
Thanks @mohan-gundlapalli , this is duplicate with https://github.com/OfficeDev/TeamsFx/issues/5627, will close this one.

[2022-07-27 05:58] #5628 closed

[2022-07-27 06:01] nliu-ms commented on #5627
The issue is caused by some unhealthy Teams Developer Portal clusters. We have filed a ticket to them and they are actively investigating it. We will inform you once we get any updates.

[2022-07-27 06:02] nliu-ms commented on #5626
Thanks @nickolitesla , this one is duplicate with https://github.com/OfficeDev/TeamsFx/issues/5627, so will close this one.

[2022-07-27 06:02] #5626 closed

[2022-07-27 06:05] xiCptnGhostix opened #5631 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 503, API name: update-icon, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "<!DOCTYPE html PUBLIC '<REDACTED: user-file-path><REDACTED: user-file-path>/DTD XHT

[2022-07-27 06:08] arielpriya opened #5633 "Teams proactive notifications not working"
I am not getting any proactive notification to my teams bot.

After using attached references for proactive message I tried to send proactive message using bot framework emulator and added localhost url, MicrosoftAppId and MicrosoftAppPassword in emulator also added the MicrosoftAppId and MicrosoftAppPassword to proactive code, when I started process to test this app on emulator I am getting unaut

[2022-07-27 06:51] nliu-ms commented on #5631
Thanks @xiCptnGhostix , this is caused by an unhealthy cluster from Teams Developer Portal, this issue has been mitigated now. Can you please try it again? Thanks!

[2022-07-27 06:53] IvanJobs commented on #5623
@sandhyar66 Hi, Thanks for reaching out.
If you cannot find `Add Features` option in VS Code, don't worry. You can use Teams Toolkit CLI: https://www.npmjs.com/package/@microsoft/teamsfx-cli which can achieve the same goal to generate CI/CD pipeline templates for you.
Take the following steps and screenshot as reference:
1. `npm install -g @microsoft/teamsfx-cli` - install the latest CLI.
2. Run c

[2022-07-27 07:14] SpicyNoodless commented on #5627
Seems partially recovered, run successfully just now.

[2022-07-27 07:24] nliu-ms commented on #5627
Thanks @SpicyNoodless , the unhealthy clusters have been deployed again. This issue should have been mitigated now, I've monitored the logs that no error in 1 hour.

[2022-07-27 07:24] #5627 closed

[2022-07-27 07:43] anoopgcmz commented on #5609
@KennethBWSong Thank you for the support. Some users only report this issue. we haven't configured initiateLoginEndpoint .

[2022-07-28 05:35] #5431 closed

[2022-07-28 05:53] nakul91 commented on #5598
**VS Version: 1.59.1 (Universal)**
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Darwin x64 21.4.0
**Teams Toolkit v3.7.0**

[2022-07-28 06:46] arielpriya commented on #5621
I have tried after removing the .fx\states\local.userdata, but still getting same response.

[2022-07-28 07:02] nliu-ms commented on #5581
Hey @mike-bell-gettogetherai , do you still meet this error? I suggest to use our latest version 4.0.3, as this version won't call this API.

[2022-07-28 10:07] mike-bell-gettogetherai commented on #5581
@nliu-ms this is no longer an issue, but I am still having the problems noted in #5619 with version 4.0.3

[2022-07-28 10:12] mike-bell-gettogetherai commented on #5619
This issue is still present, including with 4.0.3. The highest I can upgrade without breaking is 4.0.1.

If it would be helpful, I can record a video demo.

If you'd like the files mentioned, then can I please email somewhere directly since there may be some compromising information included in those?

[2022-07-28 14:07] abbasl7 opened #5648 "TeamsFx dotnet-sdk package - ConversationBot: Issue processing Action.Submit action from AdaptiveCard sent as respone from CommandHandler"
**Describe the bug**

I'm trying to use TeamsFx dotnet-sdk and facing issue using CommandHandlers.
The ConversationBot does work and I do get responses. But, when I send an adaptiveCard as response and when user performs Action.Submit on the Card, the response doesn't get posted to IBot implementation for processing Activity. It simplys looks for CommandHandler and throws an exception saying RegEx

[2022-07-28 17:46] joshua-d-brown opened #5649 "AppStudioPlugin.LocalAppIdUpdateFailed"
One of our team members is unable to run our Teams app locally. He gets this error message:

[Error] - code:AppStudioPlugin.LocalAppIdUpdateFailed, message: Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service

[2022-07-29 01:35] jnaadjie opened #5650 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "Could not find a part of the path '<REDACTED: user-file-path>'."

stack:
LocalAppIdU

[2022-07-29 02:10] nliu-ms commented on #5581
Got it, so you cannot upgrade to 4.0.3 right now. Let's see if that one can be resolved.

[2022-07-29 02:10] #5581 closed

[2022-07-29 07:06] SLdragon commented on #5621
Please also remove `.fx\states\state.local.json` file, and then reload VSCode to see whether it works fine.
If it still gets same error, please share your sample project, and we can investigate the root cause of this issue, thanks!

[2022-07-29 10:31] dracs516 opened #5658 "bug report: SPFx.NodeVersionNotSupported"
Node.js version v18 is not supported for SPFx v14. Check <REDACTED: user-file-path> for more details.

stack:
NodeVersionNotSupported: Node.js version v18 is not supported for SPFx v14. Check <REDACTED: user-file-path> for more details.
    at Object.NodeVersionNotSupportedError (<REDACTED: user-file-path>:2:6727190)
    at Object.func (<REDACTED: user-file-path>:2:6751348)
    at processTicksAndR

[2022-07-31 05:45] arielpriya commented on #5621
It's working now, Thanks @SLdragon!!

[2022-07-31 05:45] #5621 closed

[2022-07-31 16:02] #5430 closed

[2022-08-01 06:26] HuihuiWu-Microsoft commented on #5658
Hi @dracs516 , it's expected behavior that Node.js v18 is not supported for SPFx v1.14.0. You can check https://docs.microsoft.com/en-us/sharepoint/dev/spfx/compatibility#spfx-development-environment-compatibility for more details.

[2022-08-01 06:26] #5658 closed

[2022-08-01 07:36] nliu-ms commented on #5650
Thanks @jnaadjie , let's track in this one: https://github.com/OfficeDev/TeamsFx/issues/5649

[2022-08-01 07:36] #5650 closed

[2022-08-01 07:37] nliu-ms commented on #5649
Thanks @joshua-d-brown , it seems to be an intermittent error from Teams Developer Portal, but from telemetry it should work now. Can you please try it again and tell me your current status? Thanks!

[2022-08-01 22:16] AndrewCraswell opened #5672 "Empty SSO token returned by TeamsUserCredential"
**Describe the bug**
Our SSO Tab app uses `TeamsUserCredential` to get the user's SSO token. This works when running the app using Teams Toolkit, the token is returned for the user. Our custom First Party App AAD instance has been configured for SSO, and we use the same ClientId for all our test environments in all tenants. However, when we deploy the app to our Teams org, suddenly the SSO token (

[2022-08-02 04:20] dooriya commented on #5648
Thanks @abbasl7! Can you try to use the [adaptive card universal action](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/universal-actions-for-adaptive-cards/overview?tabs=mobile) (`Action.Execute`) instead of `Action.Submit`, which is replacement of the old `Action.Submit` and is a unified action model across platforms.

And then you should be able to catch t

[2022-08-02 05:13] abbasl7 commented on #5648
Thanks for the response, @dooriya ! I'll certainly give it a try and let you know.
Meanwhile, I've a related question. Since you suggested to use Action.Execute, I'm willing to take it a step further and use Sequential Workflow, which offers a lot more cleaner workflow.
Now, my question is this:
IMO, CommandHandlers are more like direct/alternate paths to specific actions so that user don't have t

[2022-08-02 05:13] nakul91 commented on #5598
Hey @nliu-ms  It worked thanks a lot for the help 👏

[2022-08-02 05:13] #5598 closed

[2022-08-02 05:24] nliu-ms commented on #5598
That is awesome!

[2022-08-02 05:51] dooriya commented on #5648
@abbasl7 Thanks for the valuable feedback! Your understand is correct that you'll need to use your `ActivityHandler` Bot to handle the subsequent actions in a sequential workflow scenario with **current** conversation bot SDK.

But to continue improve the dev experience for bot development, we're now looking into supporting workflow handling with our simplified SDK. Once this is supported in our S

[2022-08-02 06:01] abbasl7 commented on #5648
Very glad to hear that you're looking into it! I'll be very much waiting to see that released soon. I understand you can't commit when it will be available, but any tentative timeline that you can share? Like weeks or months away so that I can plan accordingly?
You don't know how much relieved I was to see this _dotnet-sdk_ available via nuget. I was struggling with Teams Toolkit for VisualStudio

[2022-08-02 06:03] abbasl7 commented on #5648
Closing this for now, since a workaround is available.

[2022-08-02 06:03] #5648 closed

[2022-08-02 08:59] XiaofuHuang commented on #5619
@mike-bell-gettogetherai Thanks so much! The demo & project files are very important for us to improve the experience of the Teams Toolkit. Can we keep in touch at ttkfeedback@microsoft.com?

[2022-08-02 12:47] sandhyar66 commented on #5623
@IvanJobs, Thanks for sharing.

I have tried setting up a pipeline, but facing issue in generating a build and deploying it to the Teams using the CI/CD Pipeline.
It would be of great help if you could share the steps involved in setting up a pipeline for provisioning and deploying the  SPFx Tab Project into Microsoft Teams Application using Azure Devops.
Since, the application for which I am tryi

[2022-08-03 03:42] blackchoey commented on #5672
Thank you for contacting us. As synced in another thread, since the token is returned by Teams client, please try to switch Teams client rings to public to see whether this issue still exists.

[2022-08-03 06:08] MuyangAmigo commented on #5590
Thanks for reaching out to us! We will consider this in future Teams Toolkit feature planning, and now right please consider using different code branch to manage different manifest settings.

[2022-08-03 06:12] MuyangAmigo commented on #5648
Hey @abbasl7, thanks for your interest in our upcoming work. We are planning to ship out support building workflow style bot application around October this year. We'd love your feedback when we release it, so please stay tunned.

[2022-08-03 12:52] JohanKlijn commented on #5607
Hi @jidddddd ,

Currently we don’t use the Teams Toolkit at all in our CI/CD pipeline, because of a couple of reasons. We have different Azure environments (Development and Production). Developers are only allowed to create resources manually (for example using the Teams Toolkit) in the Development environment and in production every change should be made through our CD pipeline.
The initial provi

[2022-08-04 04:02] #5569 closed

[2022-08-04 21:55] AndrewCraswell commented on #5672
Thanks for taking the time to sync with us offline. Since we've identified that it seems the TeamsFx library is behaving correctly, I opened a similar ticket on the teams-js Github. Hopefully they will have some ideas :)
https://github.com/OfficeDev/microsoft-teams-library-js/issues/1290

[2022-08-04 21:55] #5672 closed

[2022-08-05 07:13] contactkanika12 opened #5723 "[Error] - code:AppStudioPlugin.LocalAppIdUpdateFailed, message: Failed to update local debug Teams app in Developer Portal"
[Error] - code:AppStudioPlugin.LocalAppIdUpdateFailed, message: Failed to update local debug Teams app in Developer Portal, due to Missing configuration data for manifest. You may need to run 'Local debug' first. Data required: state.fx-resource-frontend-hosting.endpoint, stack: LocalAppIdUpdateFailed: Failed to update local debug Teams app in Developer Portal, due to Missing configuration data fo

[2022-08-05 07:21] contactkanika12 opened #5725 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Failed to update local debug Teams app in Developer Portal, due to Missing configuration data for manifest. You may need to run 'Local debug' first. Data required: state.fx-resource-frontend-hosting.endpoint

stack:
LocalAppIdUpdateFailed: Failed to update local debug Teams app in Developer Portal, due to Missing configuration data for manifest. You may need to run 'Local debug' first. Data requir

[2022-08-05 13:24] arielpriya opened #5728 "Ngrok issue: Failed to update message endpoint with https://7df3-103-99-202-239.ngrok.io/api/messagesDetailed"
I am not able to re-run my bot project on VS code, I am getting error ---- "[Error] - code:BT.MessageEndpointUpdatingError, message: Failed to update message endpoint with https://1005-103-99-202-239.ngrok.io/api/messages Suggestions: Please check log in output channel and try to fix this issue. Please retry the current step" as I have updated the ngrok url to debug the code locally.
https://prnt.

[2022-08-07 16:02] #5631 closed

[2022-08-07 16:02] #5606 closed

[2022-08-07 16:02] #5506 closed

[2022-08-08 01:35] IvanJobs commented on #5623
Hi @sandhyar66 great to know that you've passed the generating CI/CD templates steps.
To give a simple answer to your question, you can refer to the generated README file under `.azure/pipelines` folder to check detailed steps. You can also find the online README file for Azure DevOps in your case at https://github.com/OfficeDev/TeamsFx/tree/dev/packages/fx-core/templates/plugins/resource/cicd/azd

[2022-08-08 05:21] jidddddd commented on #5607
@JohanKlijn, thanks for the detailed write up, we'd love to chat with you! I can't post it here, but feel free to reach out to my profile contact.

[2022-08-08 08:13] nliu-ms commented on #5723
Thanks @contactkanika12  for reporting this bug. Have you manually updated the state.local.json file or manifest.template.json file? As this error indicating that `state.fx-resource-frontend-hosting.endpoint` cannot be found and replaced in manifest template.

[2022-08-08 08:14] nliu-ms commented on #5725
close as duplicate with https://github.com/OfficeDev/TeamsFx/issues/5723

[2022-08-08 08:14] #5725 closed

[2022-08-08 08:15] nliu-ms commented on #5649
Hey @joshua-d-brown , just wondering if you still meet this error?

[2022-08-08 12:38] joshua-d-brown commented on #5649
No, but the only solution we found was to downgrade the Teams Toolkit Extension from 4.0.3 to 4.0.0. Then everything worked fine.

[2022-08-09 01:58] nliu-ms commented on #5649
@joshua-d-brown  It is actually an intermittent server error. So the version of Teams Toolkit should not be the root cause. I guess when you downgrade to 4.0.0 the server is recovered, which seems like that downgrading works. Can you please try 4.0.3 again? Thanks!

[2022-08-09 20:15] JarialAnkur opened #5753 "Handling Error in Teams when there is no SharePoint app uploaded in app catalogue"
I am having a SharePoint solution that is uploaded to the tenant app catalog. For the same SharePoint solution, I have the TeamsPackage .zip file which can be uploaded to Microsoft Teams and the app will load successfully.
But if I am not having my SharePoint Solution app uploaded to the tenant app catalog, and I try to upload the TeamsPackage .zip file to Microsoft Teams then I get a 404 error an

[2022-08-10 04:05] blackchoey opened #5759 ""Object reference not set to an instance of an object" error during provision"
When your project contains Azure App Service, you may encounter "Object reference not set to an instance of an object".

Please apply this workaround when you meet this error:
1. Search Microsoft.Web/serverfarms in all bicep files in your project
2. Add properties: {} to the resource definition. Here is an example:
![image](https://user-images.githubusercontent.com/16605901/186344753-efc14760-fb1b

[2022-08-10 07:01] HuihuiWu-Microsoft commented on #5753
Hi @JarialAnkur , I think this is expected behavior.  If you don't upload and deploy the solution in SharePoint app catalog, then the tab url specified in Teams App manifest doesn't exist which causes an error(See more details at https://docs.microsoft.com/en-us/sharepoint/dev/spfx/build-for-teams-configure-in-teams#personal-app-configuration-ui-web-part).
As you mentioned in 'Expected behavior' s

[2022-08-10 10:31] Prasad-MSFT commented on #2888
@adashen - Currently, Teams doesn't support device permissions in pop out chat window, tabs, and the meeting side panel.

Ref: https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/device-capabilities/media-capabilities?tabs=mobile#advantages

[2022-08-10 13:27] JarialAnkur commented on #5753
Can't we add a simple HTML page in the TeamsPackage.zip file, which will eventually run and query for the SharePoint App in the app catalog?
If it doesn't exist, we can show a custom error message, including the link to the SharePoint store where the desired app is uploaded.
and
If the app is present in the app catalog, then it should simply go by the content Url or the tab URL specified in the ma

[2022-08-11 02:51] HuihuiWu-Microsoft commented on #5753
Hi @JarialAnkur , the TeamsPackage.zip file is a standard zip file which is defined to have two icons and one manifest file(https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/deploy-and-publish/apps-publish-overview#create-your-app-package). So additional pages in the zip file won't work to integrate with Teams. The only way I can think of is to replace existing contentUrl with the

[2022-08-11 07:17] KennethBWSong commented on #5609
@anoopgcmz We will keep tracking this issue in email. Thanks!

[2022-08-11 07:17] #5609 closed

[2022-08-11 07:45] Prasad-MSFT commented on #2888
We are closing the issue for now. Please feel free to reopen if required.

[2022-08-11 08:45] IvanJobs commented on #5728
@arielpriya Hi, Thanks for reaching out. Sorry for the inconvenience, we're actively investigating this issue, and will come back soon~

[2022-08-11 10:52] rsommerfeld opened #5777 "Sample tab does not load in teams ("Moved permanently")"
**Describe the bug**
Deploying the Hello World Tab sample (or also the "Basic Teams App - Tabs" scaffold) with local debug leads to an error in the teams webapp. See the screenshot below for the specific error message.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a new teams app with the VSCode Teams Toolkit Extension
2. Choose "Hello World Tab"
3. Run Debug in Microsoft Edge
4. C

[2022-08-11 11:30] rsommerfeld commented on #5777
Okay I found out how to "fix" the issue. I went to the https://localhost:53000/index.html#/tab in the browser and had to click that I want to ignore the security warnings. Afterwards the tab loaded, and from then on the tab also worked in Teams.

Still - did I miss a step that now required me to manually override this? Or is this step maybe missing in the documentation?

[2022-08-11 11:41] rsommerfeld commented on #5777
Found the documentation on this error: https://github.com/OfficeDev/TeamsFx/blob/dev/docs/fx-core/localdebug-help.md#how-to-manually-install-the-development-certificate-for-windows-subsystem-for-linux-wsl-users

[2022-08-11 11:41] #5777 closed

[2022-08-12 03:19] zyxiaoyuer commented on #5633
Hi @arielpriya, thanks for reaching out! Glad to see that you are interested in building proactive message apps. But I would not suggest you to follow that tutorials because that one is a little bit out-of-dated. Could you please follow [this tutorial ](https://docs.microsoft.com/en-us/microsoftteams/platform/sbs-gs-notificationbot?tabs=vscode) to build a notification bot using Teams toolkit, give

[2022-08-15 01:21] IvanJobs commented on #5728
@arielpriya Hi, we received feedbacks from another customer who may meet the similar issue, but we cannot reproduce it as **it may be related to some intermediate status issue** in server side API.

To get detailed messages of this error, we **added an improvement in daily version** [https://github.com/OfficeDev/TeamsFx/releases/download/vscode-extension-4.0.5-alpha.cfe223dbc.0/ms-teams-vscode-ext

[2022-08-15 07:00] elthombre opened #5795 "M365 Pre-requisite account sign on?"
Trying to build some sample apps. I have an M365 tenant & Dev Program account, etc. In Visual Studio Code, when I try to run the source, it hangs when trying to sign in. Under accounts, no accounts are shown. How is sign on handled from within VS Code? It isn't clear...

[2022-08-16 18:59] jasonjgeiger opened #5815 "Error, Request failed with status code 409"
#Issue
Have been previously successful in running the Teams toolkit to locally develop our team's application. Late last week I attempted to run the app locally and was presented with the error noted below.

## Error
`[Error] - code:AppStudioPlugin.LocalAppIdUpdateFailed, message: Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request

[2022-08-17 02:07] xiaolang124 commented on #5795
Sorry for your inconvenience. In normal case, click `Sign in to M365` or `Sign in to Azure` will open a login web page for you to login. This will happen when you try to local debug without user login. Have you encountered any problem opening the login page or cannot login via login page?

![image](https://user-images.githubusercontent.com/13211513/185018460-c599e479-a6b3-4e10-af63-a86c95710b3e.pn

[2022-08-17 06:19] elthombre commented on #5795
Hi, yes, I was able to correct this. It was opening a browser page but directing to it. It was hidden. Consequently, VS Code would just hang. Once I found out what was happening, I changed my default browser which had inadvertently been altered from Chrome to Opera. It then began working correctly.

[2022-08-17 06:57] nliu-ms commented on #5815
Thanks @jasonjgeiger for reporting this error. Usually the `409 status code` can be caused by duplicate Teams app id.

I'm not sure how the duplicate ids happen, but you may try this way:
1) Alter the Teams app id in `state.local.json`, e.g. here update 656ab44d-7255-4408-a662-1bc4e061654`d` to 656ab44d-7255-4408-a662-1bc4e061654`e`
![image](https://user-images.githubusercontent.com/71362691/18505

[2022-08-17 18:45] elthombre opened #5830 "[Login] Failed to retrieve token silently: endpoints_resolution_error"
Trying to get a sample app up and running in Teams. Receiving the following error:

[Error] - [Login] Failed to retrieve token silently: endpoints_resolution_error: Error: could not resolve endpoints. Please check network and try again. Detail: ClientConfigurationError: untrusted_authority: The provided authority is not a trusted authority. Please include this authority in the knownAuthorities con

[2022-08-18 06:07] adashen commented on #5795
Close as the issue has been solved.

[2022-08-18 06:07] #5795 closed

[2022-08-18 09:48] Arthurqin20227 opened #5841 "Custom app in Teams desktop client"
Hi Team,

We have a custom app, and we encounter an issue. We find that in one of our devices, we cannot access to the backend page of the app. Authentication not pop out. However, in other device, with the same app, same Teams desktop version, and same code, authentication windows can pop out.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[2022-08-18 10:02] #5723 closed

[2022-08-18 10:16] ChetanSharma-msft commented on #5728
Hello @arielpriya - Did you get chance to try the above suggested steps ?

[2022-08-18 11:03] AndrewCraswell opened #5842 "TeamsFx React: create fully reactive wrapper for TeamsFx SDK"
**Is your feature request related to a problem? Please describe.**
The TeamsFx React package is not fully reactive in a way that allows React components to be re-rendered when internal TeamsFx state changes. Both the [TeamsFx](https://github.com/OfficeDev/TeamsFx/blob/dev/packages/sdk/src/core/teamsfx.browser.ts) and [TeamsUserCredential](https://github.com/OfficeDev/TeamsFx/blob/dev/packages/sdk/

[2022-08-19 05:06] SLdragon opened #5846 "Add m365 Teams App owners response 400 error due to App Studio API changes"
Repro steps:

Create an app and provision
In tree view Environment, click "+" to add m365 Teams App owners, will get the error as below:

![image](https://user-images.githubusercontent.com/5545529/185546414-423c0f63-c68f-4459-9f9c-14c5f103d3bc.png)

This issue is cause by App Studio Add owner API changes:

API endpoint: https://dev.teams.microsoft.com/api/appdefinitions/${​​​​​teamsAppId}​​​​​/own

[2022-08-19 06:23] KennethBWSong commented on #5841
Hi @Arthurqin20227 thank you for reporting this issue.
This error will occur when you are trying to render the login page in iframe. It seems that you are using teams js sdk, it would be better to raise an issue in this [repo](https://github.com/OfficeDev/microsoft-teams-library-js).
I also want to confirm that are you using our TeamsFx sdk in our project?

[2022-08-19 08:05] Jennyyeh opened #5850 "bug report: aad.GetConfigError"
Failed to get display name.

stack:
GetConfigError: Failed to get display name.
	at Function.SystemError (<REDACTED: user-file-path>:2:5884582)
	at ProvisionConfig.setDisplayName (<REDACTED: user-file-path>:2:5903493)
	at ProvisionConfig.restoreConfigFromContext (<REDACTED: user-file-path>:2:5900595)
	at AadAppForTeamsImpl.provisionUsingManifest (<REDACTED: user-file-path>:2:5862785)
	at processTi

[2022-08-20 01:52] dasibre opened #5854 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "Unable import, App already exists and published. publishStatus: 'LobStore'"

stack:

[2022-08-20 01:56] dasibre commented on #5649
So, I'm running version 4.0.4, and I keep running into the same error locally. Not sure if its intermittent server error, but constantly fails, and only works when I downgrade to version 4.0.0
1

[2022-08-22 00:31] Arthurqin20227 commented on #5841
Hi @KennethBWSong  thank you for you reply~~

Sure I will discuss in your provided link and create a new thread~

Btw, I'm not sure whether we are using TeamsFx sdk since I'm not developer of this app. Sorry about that

[2022-08-22 00:31] #5841 closed

[2022-08-22 01:35] blackchoey commented on #5830
@elthombre can you share which sample are you trying?

[2022-08-22 01:45] elthombre commented on #5830
https://docs.microsoft.com/en-us/microsoftteams/platform/sbs-gs-javascript

[2022-08-22 01:46] elthombre commented on #5830
I also have the following book:

https://link.springer.com/book/10.1007/978-1-4842-6364-8

with source here:

https://github.com/Apress/pro-microsoft-teams-dev

[2022-08-22 07:35] nliu-ms commented on #5854
Thanks @dasibre for reporting this bug. I will investigate this issue.

[2022-08-23 03:12] #5451 closed

[2022-08-23 05:39] SLdragon commented on #5850
Hi, @Jennyyeh , from your error message, seems `.fx\configs\projectSettings.json` has been modified and `appName` property is missing, so that it will throw `Failed to get display name` error.

For a quick workaround, you can add appName property in `.fx\configs\projectSettings.json` file as below:

[code]

By the way, `.fx\configs\projectSettings.json` file is controlled by Teams Toolkit extensio

[2022-08-23 07:12] blackchoey commented on #5830
@elthombre Can you share where did you get the error message? I tried the sample and didn't met errors. Since the sample you shared does not include login related logic, I guesses the error is not happened in the tab app.

[2022-08-23 08:13] elthombre commented on #5830
It never gets to run the app. It uploads but does not load correctly. Appears to be something in setting up the environment. There are many moving parts and 3rd party tools.

[2022-08-23 09:38] blackchoey commented on #5830
Can you share Teams Toolkit's log in VS Code output channel, as well as some error message or screenshot for `It uploads but does not load correctly` you mentioned earlier? We will troubleshoot further with these information.

[2022-08-24 02:05] marcelopepis opened #5882 "The template deployment 'botProvision' is not valid according to the validation procedure"
I'm trying to provision resources in Azure, unsuccessfully, i tried multiple subscriptions, tenants, resource groups, set the SKU to B1, but nothing works. Even creating an app from scratch, without any customization them deploy it, the process doesn't work.
Error message:
Long running operation failed with error: "At least one resource deployment operation failed. Please list deployment operation

[2022-08-24 03:17] blackchoey commented on #5882
@marcelopepis can you add `properties: {}` to `templates/azure/provision/webapp.bicep` as following and try again? There's a problem with Azure App Service and this can workaround this issue.
![image](https://user-images.githubusercontent.com/16605901/186313398-ce25bbb2-4f1b-4a42-b97f-848d03486766.png)

[2022-08-24 06:03] SophieBok opened #5890 "bug report: Solution.FailedToDeployArmTemplatesToAzure"
Failed to compile bicep files to Json arm templates file: spawn bicep ENOENT

stack:
FailedToDeployArmTemplatesToAzure: Failed to compile bicep files to Json arm templates file: spawn bicep ENOENT
	at Object.deployArmTemplates (<REDACTED: user-file-path>:2:6866910)
	at processTicksAndRejections (node:<REDACTED: user-file-path>:96:5)
	at async provisionResourceImpl (<REDACTED: user-file-path>:2:721

[2022-08-24 06:20] blackchoey commented on #5890
This error indicates you don't have bicep CLI installed. Can you ensure following option is checked and try to provision again? Teams Toolkit will help download bicep CLI with this option checked.
![image](https://user-images.githubusercontent.com/16605901/186345018-1d524d9e-0917-452b-9af7-ce522b58ea1f.png)

[2022-08-24 14:07] marcelopepis commented on #5882
Thanks @blackchoey , it works flawless! I will continue using this workaround until the problem is solved definitively.

[2022-08-25 06:02] IvanJobs commented on #5728
@XVincentX  @arielpriya Hi, another possible reason is the remote bot registration was deleted somehow, so when Teams Toolkit was trying to update the message endpoint, 500 errors kept throwing out.
Can you help check if you can find the target bot registration on:
1. https://dev.botframework.com
2. https://dev.teams.microsoft.com/home
with the same M365 account used in Teams Toolkit? Thanks~

[2022-08-25 08:02] #5753 closed

[2022-08-25 12:38] ThomasPe opened #5910 "Release Notes"
I'm wondering if there are any release notes for the packages that are being released? Under releases I don't even see all packages, am I looking in the wrong place?
Microsoft Graph Tookit for example is doing a great job here: https://github.com/microsoftgraph/microsoft-graph-toolkit/releases

[2022-08-25 17:51] xzf0587 opened #5911 "test issue for app-studio-service-api"
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step.

[2022-08-25 17:52] #5911 closed

[2022-08-25 19:50] RobertMcAuley opened #5912 "referer policy "strict-origin-when-cross-origin" causing HTTP request failures in our Tab TeamsFx app"
**Is your feature request related to a problem? Please describe.**
We built a TeamsFx tab application in Microsoft Teams, and we noticed that it was working fine in MS Teams version 1.5.00.17261 (for Mac) but failed in MS Teams version 1.5.00.21551 (for Mac).

Upon further investigation, we noticed one of our HTTP requests was failing on version 1.5.00.21551, and using the Dev tools we discovered

[2022-08-26 03:50] MuyangAmigo commented on #5842
Hey @AndrewCraswell , Thanks so much for your suggestion to help us improve our SDK for React developers. We will take those into planning and get back to you!

[2022-08-26 06:51] AndrewCraswell commented on #5890
Thanks, @blackchoey. I encountered this issue as well, and your solution fixed it. I forgot I had disabled those checks long back. :)

[2022-08-29 10:28] jensker opened #5940 "Local Debug with Visual Studio Code fails for Teams App with Localization in Manifest"
**Describe the bug**
I added localizationInfo to manifest.json of my teams app. When I try to locally debug the app, teams denies to load the package with error message: "Fehler beim Lesen von manifest.json: The file could not be parsed as a JSON object.

When I try to upload the local package manually, everything works as expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Local debu

[2022-08-29 14:00] blackchoey commented on #5912
@RobertMcAuley can you share following information with us?
1. Is your app working fine in Teams Web Client? What's the referer policy in this case?
2. Which identity provider are you using to log in users? Is it AAD or something else?
3. What's the error message for the login call?
4. How do you make http requests in your iFrame?

By the way, you can refer this blog for the impact of changing `no

[2022-08-29 15:25] RobertMcAuley commented on #5912
hi @blackchoey , thank you for the quick reply.

Here are the answers to your questions:

1. I tested the app in both Chrome and Firefox and it appears to also fail there. I did see that the `strict-origin-when-cross-origin` is also present in those browsers.
2. It is something else, we do not authenticate with AAD.
3. There isn't an error message, but I inspected the http request being made from

[2022-08-30 08:38] wenytang-ms commented on #5910
what's a good idea, thank you for your kind reminder @ThomasPe
At present, the release notes/changelogs of our products are list as follows:
|package |Doc |
|----|----|
|teams-vscode-extension|[WHATISNEW](https://github.com/OfficeDev/TeamsFx/blob/dev/packages/vscode-extension/WHATISNEW.md)|
|teams-vscode-extension|[CHANGELOG](https://github.com/OfficeDev/TeamsFx/blob/dev/packages/vscode-extension/

[2022-08-30 08:43] ThomasPe commented on #5910
thanks, this already helps a lot.

[2022-08-31 02:07] nliu-ms commented on #5815
Hey @jasonjgeiger , I find the root cause of this bug. We have some updates since v4.0.3, which introduces a bug that users under same tenants cannot create Teams app with same app id.

We're trying to fix it in next release, around middle of September. You can either using older version or have a workaround as my last comments to have Teams app with different Teams app id. Sorry for the inconveni

[2022-08-31 06:30] nliu-ms commented on #5940
Hey @jensker , thanks for your useful information. I will take a look and get back to you.

[2022-08-31 21:22] AndrewCraswell opened #5978 "Can't acquire SSO token for full trust apps"
**Describe the bug**
The `TeamsUserCredential` is failing to return a valid SSO token when calling the `getSSOToken()` function. Our app is a Full Trust app, and when running in Ring 0, we've only been able to retrieve empty tokens (""). With further investigation, we believe the issue is caused here:
https://github.com/OfficeDev/TeamsFx/blob/dev/packages/sdk/src/credential/teamsUserCredential.bro

[2022-09-01 06:03] adashen commented on #5910
Close as the issue is resolved

[2022-09-01 06:03] #5910 closed

[2022-09-01 07:03] #5649 closed

[2022-09-01 14:03] jensker opened #5997 "replyUrlsWithType not correctly deployed [VS Code Teams Toolkit v4.0.5]"
**Describe the bug**
In the aad.template.json file, the following parts are not transfered to aad.dev.json (or any other environment):

"replyUrlsWithType": [
		{
			"url": "msal{{state.fx-resource-aad-app-for-teams.clientId}}://auth",
			"type": "InstalledClient"
		},
...
]

**To Reproduce**
Steps to reproduce the behavior:
1. Enhance aad.dev.json with code from above.
2. Debug or deploy
3. Check

[2022-09-01 18:41] mballav opened #5998 "SDK initialization times out using @microsoft/teamsfx"
**Describe the bug**
SDK initialization times out using @microsoft/teamsfx

**To Reproduce**
Steps to reproduce the behavior:
Please see "Additional Context"

**Expected behavior**
It should return a token.

**VS Code Extension Information (please complete the following information):**
 - OS: macOS
 - Version 12.0.1

**Additional context**
I created a Teams tab application by customizing the SSO r

[2022-09-02 04:32] yiqing-zhao commented on #5998
Hello @mballav, "SDK initialization timed out" error is reported by teams-js library, and when the initialize function of teams-js runs more than 5s, it will throw the timeout error. I am not able to reproduce the error from my side. However, @microsoft/teamsfx@1.1.1 requires @microsoft/teams-js@1.9.0 as peer dependency. Could you please provide more context about the code usage so that I can repr

[2022-09-02 13:01] dozer75 commented on #5759
This is a critical, it messes up our `serverfarm` based templates so I REALLY hope you fix it soon since this has worked earlier and causes a bit havoc in various CI/CD routines.

[2022-09-02 13:15] blackchoey commented on #5759
@dozer75 this is an issue in Azure App Service so we're not able to fix it in the tooling. The good news is related fix is being deployed but it still takes some time to apply to all Azure regions.
You can follow the workaround to update your templates to unblock your CI/CD.

[2022-09-02 13:42] mballav commented on #5998
Hi @yiqing-zhao, Two questions:
- Can this timeout be increased via configuration?
- I have a hunch that my "initiateLoginEndpoint" value is incorrect. I could not find it inside my Teams App's config files. I copied the rest of the parameters from one of the config files. Could you please tell me what should be "initiateLoginEndpoint"'s value and why it is not necessary to specify inside the reac

[2022-09-02 14:16] toellbe opened #6009 "Deploy Teams App in Azure Tenant which not equals users (aad app) tenant"
I wanted to deploy Teams app in an Azure tenant that is different from the tenant of the AAD App.

I registered the AAD app manually in the user tenant and adjusted the config.dev.json as described at https://github.com/OfficeDev/TeamsFx/blob/dev/docs/fx-core/using-existing-aad.md.

`"auth": {
  "objectId": **Object ID**,
  "clientId": **Application (client) ID**,
  "clientSecret": {{ $env.AAD_APP

[2022-09-04 16:02] #5830 closed

[2022-09-05 05:12] yiqing-zhao commented on #5998
Hi @mballav, for the first question, I'm afraid the time cannot be increased, see the source code [here](https://github.com/OfficeDev/microsoft-teams-library-js/blob/5bbc69cd8addc10adc569e4f652573c3141367ff/packages/teams-js/src/public/app.ts#L535).

For the second question, TeamsFx reads the value of `initiateLoginEndpoint` by using [loadFromEnv()](https://github.com/OfficeDev/TeamsFx/blob/46663f

[2022-09-05 06:41] KennethBWSong commented on #6009
Hi @toellbe Thank you for reporting this issue. Now Teams Toolkit will create/update AAD app with the M365 account you are using in the tool. When providing existing AAD app, Teams Toolkit will look for the app in the same tenant as your M365 account and will throw the above error if no app with the object id exists. Please make sure that the M365 account you login is under the same tenant as the

[2022-09-06 02:01] SLdragon commented on #5978
Thanks for the feedback, we will discuss it in the meeting~

[2022-09-06 02:10] IvanJobs commented on #5728
@XVincentX We're improving this part to provide a better developer experience, great thanks for your feedbacks.
As the facing issue was fixed, if no other things, the issue is supposed to be closed soon.

[2022-09-06 02:12] IvanJobs commented on #5728
@XVincentX We're improving this part to provide a better developer experience, great thanks for your feedbacks.
As your facing issue was fixed, the issue is supposed to be closed soon.

[2022-09-06 06:36] nliu-ms commented on #5940
Hey @jensker , sorry for the late reply. With some investigation I believe it might be a bug from server side. There are 2 options as the workaround:
1) You can use Teams Toolkit v4.0.2 (it uses different APIs so the localization file will be uploaded correctly)
2) You can still use Teams Toolkit v4.0.5, but please define more than one language in your manifest.template.json file.

[code]
Please l

[2022-09-06 16:23] mballav commented on #5998
Thanks, @yiqing-zhao for the clarification. I updated the ```initiateLoginEndpoint``` and tried the code out. Unfortunately, It still throws the same error. Could you try out my code sample at your end?

[2022-09-07 03:25] IvanJobs commented on #5623
Since the original issue was fixed and no response for over 7 days, close this issue. If necessary, please create a new one in the future.

[2022-09-07 03:25] #5623 closed

[2022-09-07 03:26] IvanJobs commented on #5728
Close this issue since it was fixed.

[2022-09-07 03:26] #5728 closed

[2022-09-07 06:34] yiqing-zhao commented on #5998
Hi @mballav, could you check if you are running your code in teams? This might cause the timeout issue. Another reason might be due to debug session, in which the code gets stuck at some point. Could you please provide a detailed version of error message? The code looks good from my side.

I would also suggest changing the version of Teams JS or TeamsFx. Since TeamsFx@1.x lists Teams-JS@1.x as pee

[2022-09-07 08:40] SLdragon commented on #5997
Hi, @jensker , thanks for reporting this issue.
Seems it is a bug that redirect URL of installedClient type can only start with https://, we will try to fix this bug, and when it ready, will let you know

[2022-09-07 09:24] yiqing-zhao commented on #5842
Hi @AndrewCraswell,
For points 1 and 3 regarding MSAL instance, since MSAL is a private member wrapped in the TeamsUserCredential class, I suppose that there should be no way to call getAllAccounts() directly. Also, when the app gets installed in Teams, only one account logins, and thus the scenario for Teams app might be different from MSAL regarding multiple accounts. I'm open to specific scenar

[2022-09-07 15:00] AnthonyPhan commented on #5609
Hi, we are experiencing the same issue. Also hosting our app on Azure Web App. Is it possible to provide some of the details form the email support here for the community?

[2022-09-07 19:00] #6009 closed

[2022-09-08 01:25] SLdragon commented on #5978
Here is the PR to address this issue:
https://github.com/OfficeDev/TeamsFx/pull/6019

[2022-09-08 03:40] anoopgcmz commented on #5609
@AnthonyPhan  This issue is not yet resolved. Communication is going on. once we resolve this issue, I will update the solution here

[2022-09-08 05:44] adashen commented on #4044
close as the issue is fixed.

[2022-09-08 05:44] #4044 closed

[2022-09-08 05:47] adashen commented on #2296
close as cannot reproduce

[2022-09-08 05:47] #2296 closed

[2022-09-08 06:10] SLdragon commented on #5978
Keep this open since we can track whether teamsjs sdk docs is ready

[2022-09-08 06:47] jayzhang commented on #5249
Seems core is not ready when executing some command. @ABROLAB , you you provide more information?

[2022-09-08 08:15] KristapsD opened #6060 "Resource group api error: entry not found in cache"
**Describe the bug**
I'm getting the following error when trying to provision my teams app: [Solution.ResourceGroupApiError]: Entry not found in cache.
First time provisioning worked Perfectly.

And also receiving the following error when trying to deploy my teams app: [FE.CheckResourceGroupError]: Failed to check resource group existence. Suggestions: Check log for more information. i tried check

[2022-09-09 07:27] #5978 closed

[2022-09-09 08:03] hiennguyen2018 opened #6067 "Microsft Graph (sendactivitynotification) not working for seding the specific user"
Hi Team,

I got the following error when I create a new task in the Team and send activity notification to the assigned user, but I can send  successfully activity notification for the Channel.

 _"message": "Application with AAD App Id '{AppId}' is not authorized to generate custom text notifications about '/beta/teams/{TeamId}/Microsoft.Teams.GraphSvc.sendActivityNotification' to the recipient.

[2022-09-11 16:02] #5912 closed

[2022-09-11 16:02] #5890 closed

[2022-09-13 02:36] jayzhang commented on #6060
@KristapsD Thanks for reporting.

The root cause is somehow from azure-account extension:
https://github.com/microsoft/vscode-azure-account/issues/53

As a workaround you could try signing out and signing back in to your Azure Account using the command palette. (https://github.com/microsoft/vscode-azurefunctions/issues/1264)

Then you can re-try again.

[2022-09-13 02:57] #6067 closed

[2022-09-13 08:53] JohanKlijn opened #6082 "@microsoft/teamsfx still depending on @microsoft/teams-js ^1.9.0, while at least version 2.0.0 is required to support Teams apps across Microsoft 365 products"
**Describe the bug**
It's probably a feature request, but because it prevents you from building apps across Microsoft 365 products I fill this as a bug.

**To Reproduce**
add at least the following npm packages as a dependency in your package.json and run npm install

`
"dependencies": {
    "@microsoft/teams-js": "^2.3.0",
    "@microsoft/teamsfx": "^1.1.1",
    "@microsoft/teamsfx-react": "^1.0.

[2022-09-14 02:06] nliu-ms commented on #5854
Hey @dasibre , this error message means that the Teams app id is conflicted with an existing published app. So you may need to manually update the app id in state.{env}.json as a workaround.

[2022-09-15 01:30] xzf0587 opened #6097 "[test issue] test app studio service error handle"
**Describe the bug**
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "Unable import, App already exists and published. publishStatus:

[2022-09-15 01:31] xzf0587 opened #6098 "[test issue] test app studio service error handling"
**Describe the bug**
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "Unable import, App already exists and published. publishStatus:

[2022-09-15 01:33] #6097 closed

[2022-09-15 01:33] #6098 closed

[2022-09-15 05:27] SLdragon commented on #5846
App studio team has already reverted the change, now it works fine.

[2022-09-15 05:27] #5846 closed

[2022-09-15 10:41] xperiandri commented on #5107
Fixed

[2022-09-15 10:41] #5107 closed

[2022-09-16 02:19] xzf0587 opened #6109 "[test issue] for app studio service error handling"
Describe the bug1
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "Unable import, App already exists and published. publishStatus: 'L

[2022-09-16 02:21] xzf0587 commented on #6109
r

[2022-09-16 02:22] #6109 closed

[2022-09-16 02:25] xzf0587 opened #6110 "[test issue] for app studio service error handling"
Describe the bug1
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "Unable import, App already exists and published. publishStatus: 'L

[2022-09-16 02:26] #6110 closed

[2022-09-16 03:59] xzf0587 opened #6115 "[test issue] for app studio service error handling"
Describe the bug1
Failed to update local debug Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "Unable import, App already exists and published. publishStatus: 'L

[2022-09-17 11:21] dooriya opened #6127 "Failed to start bot due to error caused by the `adaptivecards` dependency"
**Describe the bug**
Scaffold bot project with Teams toolkit, run the bot will got the following error:
![image](https://user-images.githubusercontent.com/10163840/190853901-89cddb23-e965-4b64-95b5-a8afb21d544e.png)

**To Reproduce**
Steps to reproduce the behavior:
1. create a bot (notification bot /command bot/ bot)
2. local debug the bot

**How to fix**
For users already have a bot project crea

[2022-09-18 15:26] #6115 closed

[2022-09-18 16:02] #5998 closed

[2022-09-18 16:02] #5850 closed

[2022-09-18 16:02] #5633 closed

[2022-09-18 16:02] #5619 closed

[2022-09-18 16:02] #5466 closed

[2022-09-18 16:02] #5429 closed

[2022-09-18 16:02] #5389 closed

[2022-09-18 16:02] #5307 closed

[2022-09-18 16:02] #5249 closed

[2022-09-18 16:03] #5190 closed

[2022-09-18 16:03] #5082 closed

[2022-09-18 16:03] #5059 closed

[2022-09-18 16:03] #4668 closed

[2022-09-18 16:03] #4666 closed

[2022-09-19 01:56] nliu-ms commented on #4780
Hey @serv, this issue should be mitigated. Sorry for the late reply. I will close this issue and please let me know if you still meet the error. Thanks!

[2022-09-19 01:58] nliu-ms commented on #5854
Hey @dasibre , this error message means that your app id is conflict with an app published in your tenant app catalog. Please manually update your app id and try again. Thanks!

[2022-09-19 01:58] #5854 closed

[2022-09-19 14:22] iamakshit opened #6149 "bug report: Core.DecryptionError"
Project update failed because of DecryptionError(file:local.userdata):Cipher text is broken, if your local file '*.userdata' is not modified, please report to us by click 'Report Issue' button.

stack:
DecryptionError: Project update failed because of DecryptionError(file:local.userdata):Cipher text is broken, if your local file '*.userdata' is not modified, please report to us by click 'Report Is

[2022-09-20 06:48] zhou-0818 opened #6155 "An issue about fx-extension prerequisite"
When I tried to debug a Teams tab app, I met a problem:
[code]
Then I found it maybe a npm install error. The error message is like this:
[code]

[2022-09-20 12:59] jayzhang commented on #4545
@noelfloresr please wait until extension is successfully activated.
<img width="295" alt="image" src="https://user-images.githubusercontent.com/1658418/191264230-09968d6e-0bd7-40a3-a068-69545c002ff0.png">

[2022-09-20 21:04] sravanism opened #6160 "bug report: AppStudioPlugin.RemoteAppIdUpdateFailed"
Failed to update remote Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "Message: {\"<REDACTED: user-file-path>":[\"Request size is too <REDACTED: user-file-path>

[2022-09-21 06:57] kuojianlu commented on #6155
The error shows there is no `adaptivecards-templating@2.1.0`, but it exists in npm public registry: https://www.npmjs.com/package/adaptivecards-templating/v/2.1.0.

@zhou-0818 Have you ever set your own npm registry? Or you can try to manually install this package via `npm i adaptivecards-templating@2.1.0`.

[2022-09-21 07:11] nliu-ms commented on #6160
Hey @sravanism , could you please share your appPackage.zip to us? As from logs, it shows the the request too large. I'm not sure if it is from an invalid zip file.

[2022-09-22 01:38] xzf0587 opened #6175 "[test issue] app studio service error"
stack:
RemoteAppIdUpdateFailed: Failed to update remote Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step.

[2022-09-22 01:39] #6175 closed

[2022-09-22 01:39] xzf0587 opened #6176 "[test issue] app studio service error"
stack:
RemoteAppIdUpdateFailed: Failed to update remote Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 521, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step.

[2022-09-22 01:40] #6176 closed

[2022-09-22 02:43] sffamily commented on #6082
@JohanKlijn thank you for raising this issue. We have a working item to bring up the teamsfx versions to reference and align with Teams-js v2.x. So this will be released in a few weeks.

[2022-09-22 14:39] kbrkelsi commented on #6060
I have this same issue, the workaround does not work for me.  I open a CloudShell bash window after ensuring my Edge profile with my Azure tenant is active and pick my Azure account, it immediately gives me this error.  I have never been able to successfully use this and it happens consistently.  Please do not close this issue.  I would be happy to give feedback for you to be able to resolve this.

[2022-09-22 16:51] xzf0587 opened #6193 "[test issue] app studio service error"
stack:
RemoteAppIdUpdateFailed: Failed to update remote Teams app in Developer Portal, due to API call to Developer Portal failed: Error, Request failed with status code 521, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step.

[2022-09-22 17:03] #6193 closed

[2022-09-22 21:43] Rick-Kirkham opened #6194 "bug report: Ext.GetTeamsAppInstallationFailed"
Request failed with status code 401

stack:
GetTeamsAppInstallationFailed: Request failed with status code 401
	at <REDACTED: user-file-path>:8:6849493
	at Generator.throw (<anonymous>)
	at rejected (<REDACTED: user-file-path>:8:6847411)
	at process.processTicksAndRejections (node:<REDACTED: user-file-path>:96:5)

[2022-09-23 02:20] blackchoey commented on #5759
The issue has been fixed in App Service. Closing this issue.

[2022-09-23 02:20] #5759 closed

[2022-09-23 14:12] dariosuardiaza1 opened #6202 "bug report: FE.Error"
Command failed: npm run build:teamsfx

stack:
Error: Command failed: npm run build:teamsfx

	at ChildProcess.exithandler (node:child_process:408:12)
	at ChildProcess.emit (node:events:526:28)
	at ChildProcess.emit (node:domain:475:12)
	at maybeClose (node:<REDACTED: user-file-path>:1092:16)
	at ChildProcess._handle.onexit (node:<REDACTED: user-file-path>:302:5)
	at Process.callbackTrampoline (node

[2022-09-23 14:13] dariosuardiaza1 commented on #6202
i tried provisioning a new environment on a project using the same Azure Subscription and M365 Account and got this error while deploying the resources to Azure

[2022-09-23 14:40] dariosuardiaza1 commented on #6202
i finally worked arround this issue the following way

1.  ran the `npm run build:teamsfx` command manually, got this output

`> teamsfx-template-tab@0.1.0 build:teamsfx

Error: Failed to find .env file at path: .env.teamsfx.
    at getEnvFile (/Users/daro/source/repos/a1/radar/teams-app/tabs/node_modules/env-cmd/dist/get-env-vars.js:40:19)`

2. Manually modified the command in `package.json` and

[2022-09-23 19:38] waystilos opened #6203 "bug report: unknown.ZipDeployError"
Updated toolkit and started getting this error
stack:
ZipDeployError:
    at Function.zipDeployPackage (<REDACTED: user-file-path>:2:4839165)
    at processTicksAndRejections (node:<REDACTED: user-file-path>:96:5)
    at Object.azureWebSiteDeploy (<REDACTED: user-file-path>:2:4854806)
    at AzureWebAppResource.deploy (<REDACTED: user-file-path>:2:5563608)
    at AzureWebAppResource.deploy (<REDAC

[2022-09-25 14:08] LYDE1234 opened #6205 "get voice stream from meetings"
I want to get voice from all or some of my organisation's internal meetings. I will then transcribe it and make the result searchable. What's the easiest way to get all audio from meetings?

[2022-09-26 05:33] Siglud commented on #6203
@waystilos Hi, I can't get enough information from the logs you gave.  Please follow the table blow to give us more information to help us troubleshoot. Thanks.

`**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concis

[2022-09-26 08:07] swatDong commented on #6194
@Rick-Kirkham - it seems you are trying the M365 app and the issue is related to account.
Could you please try **sign-out and sign-in again**? Clicking the sign-out button from Teams Toolkit view and sign-in again.
<img width="269" alt="image" src="https://user-images.githubusercontent.com/7642967/192225471-6233525c-c345-40cc-903b-a14dcfbf8ce3.png">

[2022-09-26 10:54] markfoden opened #6213 "Can't turn off pre-requisite check for Node"
I'm running the Teams Toolkit Pre-requisite check on macOS and have two issues:

- I had an old version of Node installed (v12) and the check picked this up. I upgraded to the recommended v16 but the check is still reporting the old version.
- To get around this I unchecked the Ensure Node.js is installed option in the Teams Toolkit settings. But the check still looks for Node and still reports fi

[2022-09-26 17:38] jensker commented on #5997
Thank you for considering my defect.

[2022-09-26 17:54] jensker commented on #5940
@nliu-ms : Sorry for the late reply. I was busy with deploying of the app in the AppSource store. Nevertheless, the workaround works pretty well. Thank you very much! This makes development much easier again.

[2022-09-27 02:29] hund030 commented on #6202
@dariosuardiaza1 Sorry for delayed response. I think Teams Toolkit will print the compile error to output channel. Could you please provide your Teams Toolkit version?
Anyway, it's nice to see you have solved your problem.

[2022-09-27 12:45] AnthonyPhan commented on #5609
We have found that this issue happens to users running outdated versions of teams that may predate Teamsfx. For example the user running version 1.4 below experiences the issue. Did you come to the same conclusion @anoopgcmz

![image](https://user-images.githubusercontent.com/12785492/192529541-62401de4-1a30-4505-b353-623e4ab00916.png)

[2022-09-27 16:32] dariosuardiaza1 commented on #6202
hello @hund030 ! My Teams Toolkit version is v4.0.6.

The output channel only printed the following error
[code]
So it is telling me that something failed running the `npm run build:teamsfx` command but not the actual underlying error from it. To get that error output I had to manually run `npm run build:teamsfx` on the command line and see the error output from that command myself.

Hope this hel

[2022-09-27 18:28] ThomasPe opened #6232 "Feedback Email Address does not work"
**Describe the bug**
I just wanted to let you know that the feedback email address ttkfeedback@microsoft.com in the readme does not accept emails from presumably outside Microsoft. I sent an email from my @outlook.com address wanting to thank the team as I've finished my first app with your toolkit, but it got rejected immediately. Thought you might want to know. :)

[2022-09-28 00:07] bemokraig opened #6233 "Deployment fails in my production Subscription which is connected to Partner Center but works in my Visual Studio Subscription"
How do I troubleshoot this error?
[core] start task:deployArtifactsV2
[core] success to acquire lock for task deployArtifactsV2  on: C:\Users\KraigRury\source\repos\Bemo-Dev\BemoAssistWebApp\.fx
[core:env] success to get questions for target environment.
[dev] is selected as the target environment to deployArtifactsV2
[core] success to get questions for deployArtifactsV2
[Teams Toolkit] Selected p

[2022-09-28 02:15] #6127 closed

[2022-09-28 06:42] sffamily commented on #6232
We've updated the setting to confirm it can now take external emails. It may take a while to take effect.

@ThomasPe please wait a little and give it a try. Let us know if it gets rejected again.

[2022-09-28 06:42] #6232 closed

[2022-09-28 14:02] AnthonyPhan opened #6255 "teamsfx.login popup blank"
**Describe the bug**
When calling the teamsfx.login() button the login button will sometimes appear blank for some Teams users.
Very much like #5609

**To Reproduce**
The issue is hard to reproduce but common among a large user base.

**Expected behavior**
The login popup should display a login or consent window.

**Additional context**
This occurs for probably 30% of our users but we are unable t

[2022-09-28 14:54] ThomasPe commented on #6232
Seems to still get rejected. And the error response includes the email addresses where it should have been redirected. 🧐

[2022-09-28 17:04] waystilos commented on #6203
Hi @Siglud , I ended up removing <env>.userdata files and it worked after that. Thanks for the reply.

[2022-09-28 17:04] #6203 closed

[2022-09-29 02:38] jidddddd commented on #6213
Hi @markfoden, thanks for reaching out! We are aware of the issues with our pre-requisite check processes, an upcoming release in Oct should solve the issues you are having as well as give you more control with the debugging process.

[2022-09-29 05:48] jayzhang commented on #6060
Thanks @kbrkelsi

[2022-09-29 06:16] KennethBWSong commented on #6255
Hi @AnthonyPhan Thank you for using our toolkit! Would you please follow the [instruction](https://github.com/OfficeDev/TeamsFx/tree/dev/packages/fx-core/templates/plugins/resource/aad/auth/bot#login-page-does-not-pop-up-after-clicking-continue) first to see whether your problem can be fixed?

[2022-09-29 19:21] bemokraig commented on #6233
I spun up a VM and installed VS2022 17.3.5 and it fails out of the box.

[2022-09-30 02:10] hund030 commented on #6233
The error message show that it failed to open the file `C:\Users\kraig\source\repos\WebApps\BemoAssistWebApp\BemoAssistWebApp.csproj`.
@bemokraig Could you help if the file exists?
If the path is wrong, you can go `.fx/configs/projectSettings.json` to find the path and replace it with your exact path.

[2022-09-30 02:21] bemokraig commented on #6233
Yes the path is correct.  Sometimes but not always I've seen the tools update the path automatically.  I don't think this path is the actual not-found issue.  I looked at that a lot but I think it just extra detail, not the error.

"C:\Users\KraigRury\source\repos\WebApps\BemoAssistWebApp\BemoAssistWebApp.csproj"

On the other hand it is a very bad design to hard code a path into code that gets ch

[2022-09-30 03:01] hund030 commented on #6233
@bemokraig Thanks for your information. The hard code path indeed is a problem. We are fixing it in the latest bit, which will be released soon.
While I really think the filepath is the root cause. The path you provide seems different from the one in your error message.
C:\Users\ **kraig** \source\repos\WebApps\BemoAssistWebApp\BemoAssistWebApp.csproj
C:\Users\ **KraigRury** \source\repos\WebApps\

[2022-09-30 03:10] hund030 commented on #6202
Thanks for your information. @dariosuardiaza1
I will follow up the output issue. It's expected it should print all output from npm.
You can always run the command manually to fix your build error, which may be more efficiently.

[2022-09-30 03:41] bemokraig commented on #6233
I hate to say it but you are right, I would look at the last elements of the path to see they matched but did not look closely enough.  To me that path was just information not the missing file itself, it looked right.  Ah well.

As for gitignore, maybe I am influenced by the issue above.  If you can check in, check out on another box (fix the path) and have everything work (including userdata) so

[2022-09-30 04:29] hund030 commented on #6233
@bemokraig Gald to see your issue been resolved. For the token issue, I suggest you file another GitHub issue to track it, so that we can loop in correct person.

[2022-09-30 12:09] KristapsD commented on #6060
Just tested, this workaround worked for me. Allowed me to provision and deploy to a new env.

[2022-10-02 16:02] #6155 closed

[2022-10-02 16:02] #4545 closed

[2022-10-03 09:44] Xsyntos opened #6272 "bug report: unknown.DeployTimeoutError"
stack:
DeployTimeoutError:
	at AzureOperations.checkDeployStatus (<REDACTED: user-file-path>:2:4840127)
	at async Object.azureWebSiteDeploy (<REDACTED: user-file-path>:2:4854896)
	at async AzureWebAppResource.deploy (<REDACTED: user-file-path>:2:5563608)
	at async AzureWebAppResource.deploy (<REDACTED: user-file-path>:2:5570323)
	at async Object.thunk (<REDACTED: user-file-path>:2:5134433)
	at asy

[2022-10-04 11:14] armanantonyaneworks98 opened #6273 "bug report: unknown.SyntaxError"
<REDACTED: user-file-path>: Unexpected token � in JSON at position 0

stack:
SyntaxError: <REDACTED: user-file-path>: Unexpected token � in JSON at position 0
	at JSON.parse (<anonymous>)
	at Object._readFile (<REDACTED: user-file-path>:8:3422451)
	at async Object.globalStateUpdate (<REDACTED: user-file-path>:2:4922695)
	at async TeamsfxCore.create (<REDACTED: user-file-path>:2:5124833)
	at async

[2022-10-04 13:39] frdepiaggio opened #6274 "Deployment fails on VS Code Teams Toolkit with error: unknown.ZipDeployError"
**Describe the bug**
For a few days, I started getting this error when deploying the bot. The funny thing is that on the first try it works correctly, later there is no way to deploy and the error persists even after deleting the files auto-generated by the Teams Toolkit.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the bot project with VS Code
2. Go to the Teams Toolkit section
3. C

[2022-10-04 18:02] frdepiaggio commented on #6274
I was able to fix this by scaling up the App Service Plan where the bot is located.
Apparently, the service ran out of available resources to perform the necessary actions.
It would be very useful if the error message included this.

[2022-10-04 18:02] #6274 closed

[2022-10-06 10:07] JerryYangKai commented on #6273
Hi @armanantonyaneworks98 , thanks for raising this bug, could you provide some more info for us to repro this issue?

[2022-10-06 10:08] JerryYangKai commented on #6272
Hi @Xsyntos , thanks for raising this bug, could you provide some more info for us to repro this issue?

[2022-10-06 13:01] #6272 closed

[2022-10-06 21:26] amansani15 opened #6276 "Required bicep templates missing"
**Describe the bug**
I am trying to create a new teams tab application using Teams tool kit extension in visual studio code. The available templates under azure folder are for storage account and user identity. When I select provision in the cloud, it is not registering the app under AAD and not creating a simple web application because the required templates are not available.

**To Reproduce**
S

[2022-10-07 03:17] adashen commented on #6276
Hi @amansani15  Thanks for reporting the issue. It seems the document you specified is obsolete now. Now for the tab app, it is a pure front-end application. And we are now using auth-code flow to get the token from AAD. So there is no backend app (simple auth) needed now. And as for aad app registration. Did you choose the "SSO enabled personal tab" or "Tab". If it just "Tab", it is a template wi

[2022-10-07 10:00] SkyAdam commented on #5598
Hey we have the same error but adding "validDomains": "xyzdd.com" to state dont help

[2022-10-07 13:45] hoangcv3 opened #6277 "bug report: FE.Error"
Command failed: npm install
'npm' is not recognized as an internal or external command,
operable program or batch file.

stack:
Error: Command failed: npm install
'npm' is not recognized as an internal or external command,
operable program or batch file.

	at ChildProcess.exithandler (node:child_process:408:12)
	at ChildProcess.emit (node:events:526:28)
	at maybeClose (node:<REDACTED: user-file-pa

[2022-10-07 13:45] amansani15 commented on #6276
Hello @adashen , thank you for the reply.

Yes I have selected just the "Tab" option before. However, after seeing your comment, I tried creating another application by selecting the "SSO enabled personal tab" and below is the folder structure I see:

![image](https://user-images.githubusercontent.com/62998123/194567998-3db4b90b-2903-4e62-85e8-e847546f05fb.png)

Even in this, I don't see webapp.bi

[2022-10-08 02:47] nliu-ms commented on #5598
Hey @SkyAdam , I noticed that your added key is "validDomains" instead of "validDomain". Can you please check if it is the case, thanks!

[2022-10-08 06:18] sffamily commented on #6277
@hoangcv3 looks like your npm installation is missing or corrupted on your dev machine. We recommend you to re-install NodeJS with newer version like v16 LTS from https://nodejs.org where it will also install the latest npm package. Let us know if you still encounter issues.

[2022-10-08 06:29] jidddddd commented on #6213
@markfoden Thanks for confirming. I think the next release with the new debugging features should solve this issue for you, it should be released in the next 2 weeks.

[2022-10-11 08:06] Prashant-G21 commented on #6082
We are also having the same issue can you please let us know if this is resolved yet?

[2022-10-11 08:35] robertstewartnz commented on #5466
Sure, that would be great. I'm in New Zealand gmt+12. Flick me some options for next week.

Cheers
Rob

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: John Miller ***@***.***>
Sent: Saturday, July 9, 2022 5:03:40 AM
To: OfficeDev/TeamsFx ***@***.***>
Cc: Robert Stewart ***@***.***>; Mention ***@***.***>
Subject: Re: [OfficeDev/TeamsFx] Error Deploying to the

[2022-10-11 12:58] mihaimarta commented on #6082
Same here, having trouble with deployment because of this issue.

[2022-10-11 13:48] Shrusti13 opened #6330 "bug report: unknown.ListPublishingCredentialsError"
stack: ListPublishingCredentialsError: at AzureOperations.listPublishingCredentials (<REDACTED: user-file-path>:2:4838776) at async getAzureDeployConfig (<REDACTED: user-file-path>:2:4853921) at async Object.azureWebSiteDeploy (<REDACTED: user-file-path>:2:4853721) at async AzureFunctionResource.deploy (<REDACTED: user-file-path>:2:5563608) at async AzureFunctionResource.deploy (<REDACTED: user-fi

[2022-10-12 00:51] DJGHOSTMACHINE opened #6332 "Extension causes high CPU load"
- Issue Type: `Performance`
- Extension Name: `ms-teams-vscode-extension`
- Extension Version: `4.0.6`
- OS Version: `Windows_NT x64 10.0.22623`
- VS Code version: `1.72.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/MATTHE~1/AppData/Local/Temp/TeamsDevApp.ms-teams-vscode-extension-unresponsive.cpuprofile.txt`

Find more details here: https

[2022-10-12 17:52] StefanJovic123 opened #6350 "bug report: BT.CommandExecutionError - Failed to run npm install."
Failed to run npm install.

stack:
CommandExecutionError: Failed to run npm install.
	at BotCodeProvider.build (<REDACTED: user-file-path>:2:5082697)
	at process.processTicksAndRejections (node:<REDACTED: user-file-path>:96:5)
	at async BotCodeProvider.<anonymous> (<REDACTED: user-file-path>:2:5335716)
	at async TeamsBot.build (<REDACTED: user-file-path>:2:5272634)
	at async Object.thunk (<REDACTE

[2022-10-13 06:26] sffamily commented on #6082
We are releasing the fix/upgrade in the upcoming release, which is targeting end of October.

[2022-10-13 06:33] adashen commented on #6276
Hi @amansani15 Sorry for the late reply. Actually, what you saw is as expected. For a pure frontend tab, there is no webapp.bicep included in the project. We are updating the document on Doc site. So for your case do you need a backend for tab? And there is a tutorial https://learn.microsoft.com/en-us/microsoftteams/platform/sbs-gs-javascript?tabs=vscode%2Cvsc%2Cviscode to run your first tab in to

[2022-10-13 07:08] Siglud commented on #6330
It sounds like some error occurred in calling Azure API, but the log shows nothing useful information.

Generally speaking, this may happen when your Azure account does not have enough privileges or the Web Apps have been deleted.

You can check that information and retry this step. And we will also be recording more error logs in the next release to assist with debugging processes.

[2022-10-13 07:12] Siglud commented on #6350
It looks like your NPM install failed to run. You can check the output by manually running the `npm install` command in your project path. (attention: not the project root, the ./bot or ./tab, or another folder that contains package.json)

[2022-10-13 09:01] tecton commented on #6332
Hi @DJGHOSTMACHINE, could you please help to illustrate the issue that you met? Did it happen during the extension activation time or caused by certain operation?

[2022-10-13 17:23] Siglud commented on #6330
Thank you for your timely response.

If you have ever performed a provision operation correctly, then you can find a config file at this location in your project path:
` /.fx/states/state.<your env name>.json`

Open this file, you can find your tenant Id in the Solution label. It may look like this
[code]
Find the Azure  tenant Id and try the following two operations:

1. If you are able to login

[2022-10-14 06:48] LockTar commented on #6233
This path issue is really a problem when working in a Team. Hopefully this is resolved ASAP.
Took me hours to find the problem.
Thanks

[2022-10-14 13:57] amansani15 commented on #6276
Hello @adashen, no problem. Thanks for getting back to me.

In my case, I don't use the app service, but I want the teams app to be registered under AAD, so that I can create the Azure Bot with the same appid used for teams app. Currently when I create both tab and bot, the appid/clientid are different. If I create only the tab, then as the app is not registered under AAD, I am not able to create

[2022-10-15 02:42] mario7746 opened #6369 "bug report: unknown.ZipDeployError"
stack:
ZipDeployError:
    at Function.zipDeployPackage (<REDACTED: user-file-path>:2:4839165)
    at processTicksAndRejections (node:<REDACTED: user-file-path>:96:5)
    at Object.azureWebSiteDeploy (<REDACTED: user-file-path>:2:4854806)
    at AzureWebAppResource.deploy (<REDACTED: user-file-path>:2:5563608)
    at AzureWebAppResource.deploy (<REDACTED: user-file-path>:2:5570323)
    at Object.t

[2022-10-16 16:02] #6273 closed

[2022-10-17 06:40] KennethBWSong commented on #6276
@amansani15 thank you for using our toolkit!
First of all, I want to introduce that our toolkit also provides [support](https://learn.microsoft.com/en-us/microsoftteams/platform/toolkit/create-new-project?pivots=visual-studio-code#create-a-new-teams-project-for-visual-studio-code) for Teams Bot and you can follow this [link](https://learn.microsoft.com/en-us/microsoftteams/platform/toolkit/add-sin

[2022-10-17 09:12] hund030 commented on #6233
This issue is resolved in [VS 17.4 preview 3](https://learn.microsoft.com/en-us/visualstudio/releases/2022/release-notes-preview)

[2022-10-17 13:23] Shrusti13 commented on #6330
@Siglud I am receiving the response code as 200 by the 2nd option which you suggested

[2022-10-17 14:31] amansani15 commented on #6276
Hello @KennethBWSong, thank you for the reply.

I am assuming we need to switch the values in the given picture right?

![image](https://user-images.githubusercontent.com/62998123/196202003-3aa778e4-c6fc-4361-adbb-a06d7f4594ab.png)

[2022-10-18 02:33] Siglud commented on #6330
@Shrusti13 It looks like the extension is set up without problems.

Can you create a new resource group and select a different region the next time such an error occurs and try to see if the error recurs?

The error may come from Azure itself.

[2022-10-18 03:09] KennethBWSong commented on #6276
@amansani15 I mean you need to copy your Microsoft App Id and fill in "teamsAppId" and keep the "tenantId" unchanged.

[2022-10-18 06:24] adashen commented on #6233
close as the issue is resolved

[2022-10-18 06:24] #6233 closed

[2022-10-18 06:44] Siglud commented on #6369
@mario7746  This error occurs during the upload of the ZIP file to the Azure server. You can check the following two things:

1. How big is your project ZIP file? You can find it in the `<your project root>/<bot or tab>/.deployment/deployment.zip`. Normally this file should not bigger than 50M
2. Is your internet connection stable? You can tye manually uploading your deployment.zip file using Azur

[2022-10-18 20:00] amansani15 commented on #6276
Thank you for clarifying. If we want to make any changes to manifest, first we have to apply the changes to **state.{env}.json** files then when we do debugging or provisioning the actual manifest file will get updated right?

If so, I would like to add additional valid domains to manifest file, but it's getting removed when provisioning the resources to Azure, as the information is reading from s

[2022-10-19 16:02] #6202 closed

[2022-10-19 22:50] mario7746 commented on #3101
Hi Im having a similar issue. I have followed the steps [here](https://github.com/OfficeDev/TeamsFx/issues/3101#issuecomment-993167250) but it doesn't seem like my Teams toolkit has the simple-auth package as a dependency. I was wondering if there is any updated instructions on how to allow multi-tenant for a teams toolkit app

[2022-10-19 23:54] KennethBWSong commented on #6276
@amansani15 You can directly update the `templates/appPackage/manifest.template.json` to add valid domains for Teams app.
Add @nliu-ms for awareness.

[2022-10-19 23:57] KennethBWSong commented on #3101
@mario7746 Thank you for using our toolkit. Since we are using auth code flow for authentication now, latest projects created by Teams toolkit will not contain simple auth service. Now you can refer to [this](https://github.com/OfficeDev/TeamsFx/wiki/Multi-tenancy-Support-for-Azure-AD-app) for multi tenant apps.

[2022-10-20 04:24] mario7746 commented on #3101
@KennethBWSong Thanks for pointing me to that doc! I followed the steps and now I'm getting the following

`OutOfRangeInputOne of the request inputs is out of range`

Have you seen this error before?

[2022-10-20 04:28] KennethBWSong commented on #3101
@mario7746 Can you share in which step you get this error and the detailed error info with us?

[2022-10-20 06:02] #6277 closed

[2022-10-20 13:52] mario7746 commented on #3101
@KennethBWSong Sorry, the error is coming after I have followed all the steps and deployed. Where I am asking the user to log in inside the tab configuration modal, I now get that error. It seems like it may be caused by changing the Application ID URI to the new CDN endpoint.

<img width="598" alt="Screen Shot 2022-10-19 at 9 23 22 PM" src="https://user-images.githubusercontent.com/24927777/19696

[2022-10-20 14:11] amansani15 commented on #6276
Thanks Kenneth. I am able to add valid domains successfully in manifest.template.json.

To see those domain names under apps - developer portal, I had to do "**provision in the cloud**" step. I believe, we have to do provisioning every time whenever there is a change exists in manifest file right?

I want to create just the frontend tab using teams tool kit and would like to add the bot details la

[2022-10-21 01:36] grandyang opened #6436 "JSON error: Expected the input to start with a valid JSON token, when isFinalBlock is true."
Hi

I am following [this tpost](https://devblogs.microsoft.com/microsoft365dev/post-notifications-to-microsoft-teams-with-net-using-teams-toolkit-for-visual-studio/) to develop a notification bot, the difference is that I choose the `HTTP Trigger (Web API Server)` as the trigger type. But when i run the app without any additional change, I got the following error, can any one help me fix it?

[cod

[2022-10-21 06:19] Expecho opened #6440 "Visual Studio 2022 Teams Toolkit - Are the docs there (yet)?"
I've installed the Visual Studio 2022 Teams Toolkit with the plan to write a bot using C#. So far so good, the template gets me up and running quickly. In my bot I want to use Microsoft Graph to fetch calendar data for the logged in user using the toolkit as it promises to make it easy to address such a scenario.

But now it seems examples are not really geared towards the use of the VS 2022 Teams

[2022-10-21 08:12] KennethBWSong commented on #6440
Hi @Expecho Thank you for using our toolkit. Support on adding SSO to VS projects is now under preview and will release on VS 17.4.
To better help you with this issue, we want to first confirm the version of your Visual Studio. Would you please go to 'Help' and click on `About Microsoft Visual Studio` and check your version like below?
![image](https://user-images.githubusercontent.com/63089166/19

[2022-10-21 08:29] Kolinas opened #6443 "Bug report: not able to start debugging app"
**Describe the bug**

I've installed the Visual Studio Teams Toolkit to run and debug the existing app. But when I try to run the application build fails with the message "Failed to npm install for frontend" and with the following error: "[Error] - code:Ext.PrerequisitesValidationError, message: Prerequisites Check Failed. If you wish to bypass checking and installing any prerequisites, you can di

[2022-10-21 08:32] KennethBWSong commented on #6440
@Expecho Sure, you can go [here](https://visualstudio.microsoft.com/en-us/vs/preview/#download-preview) to get the latest preview version for VS.

After installing, you can open your project and simply right click on your project, choose `Teams Toolkit`, and select `Add authentication code` to enable SSO in your project.
![image](https://user-images.githubusercontent.com/63089166/197150367-67c7ae1

[2022-10-21 21:08] amansani15 commented on #6276
Awesome, this actually helps a lot. Thank you so much.

Do we have any tutorial which explains all these kind of questions?

[2022-10-22 00:59] KennethBWSong commented on #6276
Hi @amansani15 Usually you can find related docs [here](https://learn.microsoft.com/en-us/microsoftteams/platform/toolkit/teams-toolkit-fundamentals?pivots=visual-studio-code) or in [Github Wiki](https://github.com/OfficeDev/TeamsFx/wiki).
If you have any questions, you can raise an issue here or ask a question in Stack Overflow with `teams-toolkit` tag.

[2022-10-24 05:52] grandyang opened #6448 "Teams Toolkit Icon disappears on the left sidebar of Visual Studio Code"
Hi, I have Teams Toolkit Extension installed on my Visual Studio Code, it shows the icon on the left sidebar after I installed. But after some time, it disappeared, do you know how to make it show again?

![Teams Toolkit](https://user-images.githubusercontent.com/8553010/197456635-57d2763a-198a-40f7-a601-155957cb22b6.png)

[2022-10-24 06:32] kuojianlu commented on #6443
@Kolinas This error message shows that `npm install` failed for tab app. You can check `TERMINAL` window to see the error details of `npm install` command.

[2022-10-24 07:50] xiaolang124 commented on #6436
Do you mean you can start and install your app in Teams, but fail to trigger http notification? May I ask how do you trigger the notification?

You can try these two methods to trigger the notication.
- Open Powershell and post an HTTP request to trigger the notification:
   Invoke-WebRequest -Uri "http://localhost:5130/api/notification" -Method Post
- Open Postman and send post request to "http:/

[2022-10-24 09:37] Kolinas commented on #6443
Run of "npm install" separately works without any problems

[2022-10-24 12:38] Ruryk opened #6456 "bug report: unknown.ZipDeployError"
Why i can deploy bot to azure, never had this error before?
"dependencies": {
        "@microsoft/teamsfx": "^1.0.0",
        "botbuilder": "^4.17.0",
        "node-fetch": "^2.6.1",
        "restify": "^8.5.1"
    },
    "devDependencies": {
        "@types/restify": "8.4.2",
        "env-cmd": "^10.1.0",
        "nodemon": "^2.0.7",
        "shx": "^0.3.4",
        "ts-node": "^10.4.0",

[2022-10-24 15:30] garrytrinder opened #6457 "bug report: Error thrown when attempting to add new features"
The below error was thrown when attempting to open `Add features`, the project consists of a `bot` and a `tab`.

[code]

[2022-10-25 02:27] kuojianlu commented on #6443
@Kolinas If so, you can unblock debugging by commenting `validate local prerequisites` task from `Pre Debug Check & Start All` in `.vscode/tasks.json` then try to debug again.
![image](https://user-images.githubusercontent.com/37978464/197667575-b8710feb-3e0d-4421-9a68-b2086949beff.png)

[2022-10-25 06:48] Siglud commented on #6456
Duplicated with #6369

This error occurs during the upload of the ZIP file to the Azure server. You can check the following two things:

1. How big is your project ZIP file? You can find it in the <your project root>/<bot or tab>/.deployment/deployment.zip. Normally this file should not bigger than 50M
2. Is your internet connection stable? You can try manually uploading your deployment.zip file u

[2022-10-25 18:51] JensMadsen opened #6485 "security issue: @microsoft/teamsfx-cli depends on adal-node which depends on xmldom version with security vulnerability"
see: https://github.com/Azure/ms-rest-nodeauth/issues/146#issuecomment-1280211322

[2022-10-25 19:48] amansani15 commented on #6276
Great, thank you for all the information.

[2022-10-25 19:48] #6276 closed

[2022-10-25 23:34] jk-msft opened #6487 "Problem starting `Org User Search Connector` Bot Sample"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Click Start From Samples
2. Select `Org User Search Connector`
3. Follow through to clone the app such as providing directory location etc.
4. Click `Run And Debug` with `Debug (Edge)`.
5. Click `Add` for `QueryOrgUserWithMESSO` app.
  -  ![Screen Shot 2022-10-25 at 4 31 5

[2022-10-26 07:30] wenytang-ms commented on #6487
Thanks @jk-msft for using this sample and asking questions
The bot throws the 412 error, in order to let the Teams deal with this special error, then the teams will ask user to login or consent.
This is expected until the user does not authorize.
With the 412 error, the Teams App should display as following picture. Do you get the same result?

![image](https://user-images.githubusercontent.com/75

[2022-10-26 08:27] Alive-Fish commented on #6485
Hi @JensMadsen, thanks for reporting it. I have checked the [package-lock.json](https://github.com/OfficeDev/TeamsFx/blob/dev/packages/cli/package-lock.json) in the source code and cannot find the `adal-node` dependency.

Do you mean the latest published [@microsoft/teamsfx-cli](https://www.npmjs.com/package/@microsoft/teamsfx-cli)? If yes, I will reply to you when the new version has been publish

[2022-10-26 08:33] christophemacabiau opened #6502 "json manifest error?"
I have a problem with the application package generation & the localization. With three languages (en/fr/es), all is fine. With two languages (en/fr), I get this error when I try to install the app:
*Erreur lors de la lecture du manifest.json: The file could not be parsed as a JSON object.*

manifest.template.json ok (3 languages)
[code]

manifest.template.json ko (2 languages)
[code]

[2022-10-26 23:31] jk-msft commented on #6487
Hi @wenytang-ms

This is what I see in the Teams client side. `Unable to reach app. Please try again.`
![Screen Shot 2022-10-26 at 4 30 01 PM](https://user-images.githubusercontent.com/107141247/198157741-95f74de3-a877-4908-a76f-315163f81458.png)

On the Bot server side, you can see that the Bot server actually crashed.
![Screen Shot 2022-10-26 at 4 30 09 PM](https://user-images.githubusercontent.

[2022-10-27 12:29] JensMadsen commented on #6485
Hi @Alive-Fish. You are right. Sorry about the noise. I was told by your colleagues to report it here but it turns out that it is the package that uses an old version see https://github.com/OfficeDev/Office-Addin-Scripts/blob/e9cd6b6456c7b79621e5d4c07206e6cc1ab47df9/packages/office-addin-dev-settings/package.json#L25. Sorry about the noise and sorry for not checking it properly! I close the issue

[2022-10-27 12:29] #6485 closed

[2022-10-27 16:27] jk-msft commented on #6487
Yes, my node is 16.

[code]

I'll try Node 14.

[2022-10-28 07:02] #6369 closed

[2022-10-28 07:02] #6330 closed

[2022-10-28 08:06] #6350 closed

[2022-10-29 00:34] jk-msft commented on #6487
Even with Node 14, I am running into the same issue. Notice that I am now using `v14.20.1` but the error still happens.

[code]

[2022-10-30 18:36] ziron999 opened #6533 ".NET needs docs for adding Dynamics 365 Dataverse and MS Graph API calls to the Blazor Server"
**Is your feature request related to a problem? Please describe.**
I am unable to find working docs that implement MS graph API into the Teams Toolkit with ASP.net Blazor Server or calling to the dataverse and opening listeners for the database.

**Describe the solution you'd like**
Just need an initial starting point that actually works with all the things I will be using.

**Describe alternative

[2022-10-30 22:28] ziron999 commented on #6533
This is how close I have gotten to link it with teamsfx:
[code]

[2022-10-30 23:11] ziron999 commented on #6533
I have manually figured out these 2 issues.
1. LoginAsync/consent needs to be mentioned in docs more often: `await teamsUserCredential.LoginAsync("User.Read"); //User.Read is the example scope for the graph API I used.`
2. Luckily, there is a way to do dataverse without needing register any services at all.
3. this if statement is a good check     ```
private async Task<bool> HasPermission(string

[2022-10-30 23:11] #6533 closed

[2022-10-30 23:33] ziron999 opened #6534 "Feature: Match Teams elected UI Theme to Blazor"
**Is your feature request related to a problem? Please describe.**
It should be possible to have a theme system tied to FluentUI that pulls what people use in Teams currently so that our apps can match it. This way, the look and feel are semi constant with what we make.

**Describe the solution you'd like**
Current users Teams theme matching for FluentUI

**Describe alternatives you've considered*

[2022-10-31 01:08] runceel commented on #6457
I'm facing same issue.
Is there a something workaround?

[2022-10-31 02:13] wenytang-ms commented on #6487
It's true, there will display the error message, but you can ignore it.
With the 412 error, can you get the sign in info in the query message extension?
![image](https://user-images.githubusercontent.com/75360946/198917205-247b9ffe-8e94-4825-b807-6fb65020107e.png)

[2022-10-31 06:32] nliu-ms commented on #6502
Hey @christophemacabiau , thank you for your report. It is a known issue, please refer to https://github.com/OfficeDev/TeamsFx/issues/5940.

Sorry for the inconvenience, I will let corresponding team know it.

[2022-10-31 06:53] jayzhang commented on #6457
@garrytrinder Can you make sure that the file "temaplates/appPackage/manifest.template.json" has none-null keys for "bots", "staticTabs" and "composeExtensions" as follows:
<img width="444" alt="image" src="https://user-images.githubusercontent.com/1658418/198948626-50f4a88e-9a77-4996-90c6-b5f4a5989f40.png">
If the above keys in the json file is null, replace it with empty arrays: "[]"

[2022-10-31 08:50] wenytang-ms commented on #6487
hi @jk-msft you can do as following steps to bypass this issue no matter with node 16 or node 14
Update the code in `bot/index.ts` around line 51
[code]
This is just a workaround for now, we will do it in a more appropriate way in the future

[2022-10-31 11:02] #6440 closed

[2022-11-01 00:11] jk-msft commented on #6487
@wenytang-ms , Thanks. This solution worked well for me for now. Feel free to close the ticket.

[2022-11-01 01:43] #6487 closed

[2022-11-02 11:46] christophemacabiau commented on #6502
@nliu-ms Thanks Ning Liu

[2022-11-02 11:46] #6502 closed, assigned to nliu-ms

[2022-11-02 15:51] homeaidepi opened #6598 "bug report: unknown.ZipDeployError"
stack:
ZipDeployError:
    at Function.zipDeployPackage (<REDACTED: user-file-path>:2:6044120)
    at processTicksAndRejections (node:<REDACTED: user-file-path>:96:5)
    at Object.azureWebSiteDeploy (<REDACTED: user-file-path>:2:6058043)
    at AzureWebAppResource.deploy (<REDACTED: user-file-path>:2:7276878)
    at AzureWebAppResource.deploy (<REDACTED: user-file-path>:2:7283861)
    at Object.t

[2022-11-03 08:39] christophemacabiau opened #6620 "bug report: AppStudioPlugin.DeveloperPortalAPIFailed"
Hi,

I cannot deploy our application, I always get this error:

API call to Developer Portal failed: TypeError, Cannot read properties of undefined (reading 'code'), API name: update-published-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step.

stack:
DeveloperPortalAPIFailed: API call to Developer Portal

[2022-11-03 09:45] hoangtd1706 opened #6623 "bug report: SPFx.SPFxScaffoldError"
Failed to run command: "yo <REDACTED: user-file-path>@<REDACTED: user-file-path> --skip-install true --component-type webpart --component-name helloworld --environment spo --skip-feature-deployment true --is-domain-isolated false --framework react --solution-name Ecoba Approval", code: "1",
                            output: "", error: "<REDACTED: user-file-path>:27
	const [name, version] = nameM

[2022-11-03 16:37] garrytrinder commented on #6457
I can share with you the manifest template being used, https://github.com/garrytrinder/msteams-meeting-feedback-content-bubble/blob/main/templates/appPackage/manifest.template.json from the sample app I've been working on.

The app uses a bot to invoke a content bubble, in the content bubble a page is rendered which is using the Tab capability in Teams Toolkit, this was the easiest way I could thi

[2022-11-04 04:02] #6443 closed

[2022-11-04 09:02] #6456 closed

[2022-11-04 10:20] Steffi3rd commented on #5940
Hi,

I have the same problem, even with Teams Toolkit v4.0.2 or 4.0.5.
❌ **Erreur lors de la lecture du manifest.json: The file could not be parsed as a JSON object.**

I have 2 lang (`en` and `fr`)

I just update to the latest v4.1.1, but same problem.

Here is my `manifest.template.json`.
[code]

And each i18n file :

`resources/fr.json`
[code]

`resources/en.json`
[code]

Is there another fix f

[2022-11-04 10:56] jensker commented on #5940
@Steffi3rd: Hey! The workaround is still working for me (I just double-checked a few minutes ago).

Teams Toolkit v.4.0.5
In the manifest, I am using v1.12:

manifest.template.json:
"$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.12/MicrosoftTeams.schema.json",
"manifestVersion": "1.12",

en.json:
"$schema": "https://developer.microsoft.com/json-schemas/teams/v1.12/Microsof

[2022-11-04 10:58] jensker commented on #5940
@Steffi3rd : One addition:

In resource json, I don't have a comma at the end! Maybe the parser is confused by the comma?

{
  "$schema": "https://developer.microsoft.com/json-schemas/teams/v1.14/MicrosoftTeams.Localization.schema.json",
  "name.short": "EN",
  "name.full": "EN",
  "description.short": "EN",
  "description.full": "EN",
  "staticTabs[0].name": "EN"**,**  <- I mean this comma
}

[2022-11-04 10:59] Steffi3rd commented on #5940
@jensker Yes, i have all that.

I just check with : https://dev.teams.microsoft.com/appvalidation.html

And it seems that my localization en.json and fr.json is missing inside the zip appPackage.production.zip...
Only icons are uploaded to the zip

<img width="1031" alt="Capture d’écran 2022-11-04 à 11 58 12" src="https://user-images.githubusercontent.com/814410/199956815-c533894d-c27e-4e02-a45e

[2022-11-04 11:04] jensker commented on #5940
@Steffi3rd : Maybe deleting everything in this folder helps?
![image](https://user-images.githubusercontent.com/81486634/199957855-40955354-31c7-4ec8-bfba-526dac54112a.png)

This way, you force Teams Toolkit to actively rebuild manifest json for local, production etc.

[2022-11-04 11:05] jensker commented on #5940
@Steffi3rd : Also my template folder looks like this:
![image](https://user-images.githubusercontent.com/81486634/199958108-1e2676f6-1f42-4c3c-8a44-97fcb6bff856.png)

I did not do anything special. Files in resources folders are zipped automatically by Teams Toolkit.

[2022-11-04 11:13] Steffi3rd commented on #5940
Structure is same as you. but [localization].json is not zipped... only icons 🤔

<img width="267" alt="Capture d’écran 2022-11-04 à 12 12 38" src="https://user-images.githubusercontent.com/814410/199959504-b4376149-74b3-4ed0-9513-0cc6ac0b6b58.png">

[2022-11-04 11:45] Steffi3rd commented on #5940
We see a lot of differences in the Microsoft documentation from one page to another... (Example: Use v1.8 here, use v.1.12 there, 1.13 overthere etc) It's quite complicated to find your way around when you have a bug. Fortunately StackOverflow or people like @jensker are there to help us here.

About additionalLanguages, some indicates `resources/en.json` instead `en.json`
Do you have to add the `

[2022-11-04 12:09] Steffi3rd commented on #5940
We see a lot of differences in the Microsoft documentation from one page to another... (Example: Use v1.8 here, use v.1.12 there, 1.13 overthere etc) It's quite complicated to find your way around when you have a bug. Fortunately StackOverflow or people like @jensker are there to help us here.

About additionalLanguages, some indicates resources/en.json instead en.json
Do you have to add the defau

[2022-11-04 12:11] Steffi3rd commented on #5940
We see a lot of differences in the Microsoft documentation from one page to another... (Example: Use v1.8 here, use v.1.12 there, 1.13 overthere etc) It's quite complicated to find your way around when you have a bug. Fortunately StackOverflow or people like @jensker are there to help us here.

About additionalLanguages, some indicates resources/en.json instead en.json
Do you have to add the defau

[2022-11-04 13:01] Steffi3rd opened #6640 "{{$env.MA_VARIABLE}} empty"
**Describe the bug**
I'm trying to use a custom environnement variable for each environnment.

**To Reproduce**
Steps to reproduce the behavior:
1. I created` .env.production` with a FOO=bar in root folder next to `.fx` folder
2. Then use it in my files (`manifest.template.json` and `aad.template.json`) like this {{$env.FOO}} (Example found here : https://learn.microsoft.com/en-us/microsoftteams/p

[2022-11-05 08:43] runceel commented on #6457
@garrytrinder Thank you! I was able to fix this error.
In my case, I removed staticTabs because it doesn't need for my app.

[2022-11-07 06:38] adashen commented on #6457
Close as the issue is resolved

[2022-11-07 06:38] #6457 closed

[2022-11-07 07:21] nliu-ms commented on #6620
Hey @christophemacabiau , thanks for reporting this bug. With some investigation, there are 2 problems.

1) The API failed.
2) Teams Toolkit cannot parse the error message correctly.

Would you mind sharing your Teams manifest zip package to me? Then I can find out the root cause of API failure. Sorry for the inconvenience.

[2022-11-07 07:22] HuihuiWu-Microsoft commented on #6623
Hi @hoangtd1706 , this should be the same issue with https://github.com/yeoman/yo/issues/75 if you're using latest macOS version.
To make it work, you can downgrade to legacy version. We'll fix the issue once yo released the fix build.

[2022-11-07 08:31] Anandks1993 opened #6663 "bug report: SPFx.SPFxScaffoldError"
ENOENT: no such file or directory, rename '<REDACTED: user-file-path> <REDACTED: user-file-path>' -> '<REDACTED: user-file-path> <REDACTED: user-file-path>'

stack:
SPFxScaffoldError: ENOENT: no such file or directory, rename '<REDACTED: user-file-path> <REDACTED: user-file-path>' -> '<REDACTED: user-file-path> <REDACTED: user-file-path>'
	at Object.ScaffoldError (<REDACTED: user-file-path> <REDAC

[2022-11-07 08:35] christophemacabiau commented on #6620
the problem seems to have disappeared...

[2022-11-07 08:35] #6620 closed

[2022-11-07 17:37] Anandks1993 commented on #6663
![Untitled](https://user-images.githubusercontent.com/26414695/200377487-1fd838bd-0842-4c24-ac08-f9f3d23e7d41.png)

[2022-11-08 02:40] nliu-ms commented on #5940
Thank you so much @jensker and @Steffi3rd, I'm so glad that you finally made it!

Sorry for the inconvenience brought to you. With information you provided, that is a bug of Teams Toolkit. During some code migration, the logic of zipping localization file has been removed. So when you downgrade to previous version it works.

Sorry again! I will fix it ASAP.

[2022-11-08 02:47] nliu-ms commented on #6640
Hey @Steffi3rd , currently only parameter files supports .env customization. To customize `manifest.template.json` and `aad.template.json`, we suggest to use {{config.xx}}, as described in this doc: https://learn.microsoft.com/en-us/microsoftteams/platform/toolkit/teamsfx-preview-and-customize-app-manifest?pivots=visual-studio-code#customize-your-teams-app-manifest

We will have a new version whic

[2022-11-08 03:26] Siglud commented on #6598
Duplicated with #6369

This error occurs during the upload of the ZIP file to the Azure server. You can check the following two things:

1. How big is your project ZIP file? You can find it in the ./.deployment/deployment.zip. Normally this file should not bigger than 50M
2. Is your internet connection stable? You can try manually uploading your deployment.zip file using Azure Kudu Service to see

[2022-11-08 04:58] Anandks1993 commented on #6663
![image](https://user-images.githubusercontent.com/26414695/200478836-9191f1b0-93ed-4d70-bec0-1f3de2788b38.png)

Also samples page is not loading the samples at all, it was showing the samples few days back but all of a sudden it is not loading at all.

[2022-11-08 05:10] Anandks1993 opened #6672 "Samples window not loading the samples."
**Describe the bug**
When I first install teams toolkit extension, I was able to look all the samples but now the samples page is always blank.

**To Reproduce**
I don't know if anyone else is facing this issue, no particular step there to reproduce.

**Expected behavior**
Samples must be loaded when I click `View Samples` button.

**Screenshots**
![image](https://user-images.githubusercontent.com

[2022-11-08 07:03] HuihuiWu-Microsoft commented on #6672
Hi @Anandks1993, thanks for your feedback. Actually we haven't received similar issues. Could you help check whether there's any error message in developer tools console window with F12?

[2022-11-08 07:05] thanhnguyen0504 opened #6679 "bug report: AppStudioPlugin.LocalAppIdCreateFailed"
Failed to create local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503

stack:
LocalAppIdCreateFailed: Failed to create local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503
	at AppStudioResultFactory.SystemError (<REDACTED: user-file-path>:2:5958611)
	at AppStu

[2022-11-08 07:08] HuihuiWu-Microsoft commented on #6663
Hi @Anandks1993, from the error logs, Teams Toolkit failed when it tries to rename the folder 'c:\users\xxx\TeamsApps\todo-app-spfx\todo-app-spfx' to 'c:\users\xxx\TeamsApps\todo-app-spfx\spfx'. Could you help check whether the folder 'c:\users\xxx\TeamsApps\todo-app-spfx\todo-app-spfx' exists when the error happens?

[2022-11-08 07:25] Anandks1993 commented on #6663
No, that folder doesn't exist when this error happens. This error happens I am trying to create a project from scratch. I will attach a GIF of how I am trying to create a project with SPFx below for you reference.
![spfx-flow-1](https://user-images.githubusercontent.com/26414695/200500451-c462a1c1-1b4d-4009-b3c1-b2417fd94c55.gif)

[2022-11-08 07:28] Anandks1993 commented on #6672
Yes, I am seeing some error messages regarding CORS issue.
![image](https://user-images.githubusercontent.com/26414695/200500908-3f8144a1-daa0-44ee-a34e-60489b6b5f6a.png)

[2022-11-08 07:30] NarenderSingh opened #6683 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Failed to update local debug teams app in app studio, due to 503, Failed to upload icon for app 9f71ff2a-ab95-49ea-af35-0c50830a01ba, due to Error: Request failed with status code 503

stack:
LocalAppIdUpdateFailed: Failed to update local debug teams app in app studio, due to 503, Failed to upload icon for app 9f71ff2a-ab95-49ea-af35-0c50830a01ba, due to Error: Request failed with status code 503

[2022-11-08 07:41] HuihuiWu-Microsoft commented on #6672
Hi @Anandks1993, I reproduced your issue after upgrading VS Code to 1.73. There might be some change in VS Code that breaks our sample page. You can downgrade to legacy versions temporarily as a workaround.
I'll fix this in next release. Thanks!

[2022-11-08 08:07] Anandks1993 commented on #6672
@HuihuiWu-Microsoft Thank you very much, appreciate the prompt response. As you said I downgraded to 1.72.2 version and Samples page is loading properly now.

[2022-11-08 08:16] HuihuiWu-Microsoft commented on #6663
Hi @Anandks1993, maybe I didn't make it clear enough. When you create SPFx project with our Teams Toolkit, we'll first run yeoman (yo @microsoft/sharepoint) to create SPFx solution under target folder (in your case, it's 'c:\users\xxx\TeamsApps\todo-app-spfx\todo-app-spfx') and then rename the folder to 'SPFx'. As it fails to find the directory when renaming, I wonder whether yeoman scaffolded the

[2022-11-08 08:49] Anandks1993 commented on #6663
@HuihuiWu-Microsoft Sure, At first when I try to create SPFx tab teams toolkit asks me the Framework for which I chose `React` and then it asks me the web part name, I gave `helloworld`  and then it asks me the folder that will contain the project root folder for which I select `D:\SPFx-Apps` (At this point SPFx-Apps will be an empty folder) then it asks me the Application name so I gave `test-app

[2022-11-08 08:50] Annajoe96 opened #6690 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
Failed to update local debug teams app in app studio, due to 503, Failed to upload icon due to Error: Request failed with status code 503

stack:
LocalAppIdUpdateFailed: Failed to update local debug teams app in app studio, due to 503, Failed to upload icon due to Error: Request failed with status code 503
	at AppStudioResultFactory.SystemError (<REDACTED: user-file-path>:2:5958611)
	at AppStudioP

[2022-11-08 11:15] VVMig opened #6692 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
[AppStudioPlugin.LocalAppIdUpdateFailed]: Failed to update local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503

[Error] - code:AppStudioPlugin.LocalAppIdUpdateFailed, message: Failed to update local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503, stack: Local

[2022-11-08 11:27] Nikita-Ryabko opened #6693 "bug report: AppStudioPlugin.LocalAppIdUpdateFailed"
[AppStudioPlugin.LocalAppIdUpdateFailed]: Failed to update local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503

[Error] - code:AppStudioPlugin.LocalAppIdUpdateFailed, message: Failed to update local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503, stack: Local

[2022-11-08 17:03] Steffi3rd commented on #6640
@nliu-ms Thanks for you reply.

I tried but I have this error

[2022-11-08 22:05] bemokraig commented on #6693
So it's not me, just spent a day to find out.

[2022-11-09 02:20] HuihuiWu-Microsoft commented on #6672
PR raised to fix this issue: https://github.com/OfficeDev/TeamsFx/pull/6695

[2022-11-09 06:08] raghavendragrtally opened #6707 "bug report: AppStudioPlugin.LocalAppIdCreateFailed"
Failed to create local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503

stack:
LocalAppIdCreateFailed: Failed to create local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503
	at Function.SystemError (<REDACTED: user-file-path>:2:5958611)
	at AppStudioPluginImpl.

[2022-11-09 06:45] raghavendragrtally opened #6708 "bug report: AppStudioPlugin.LocalAppIdCreateFailed"
Failed to create local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503

stack:
LocalAppIdCreateFailed: Failed to create local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503
	at Function.SystemError (<REDACTED: user-file-path>:2:5958611)
	at AppStudioPluginImpl.

[2022-11-09 08:39] Daan-Zwarthoed opened #6719 "bug report: AppStudioPlugin.LocalAppIdCreateFailed"
Failed to create local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503

stack:
LocalAppIdCreateFailed: Failed to create local debug teams app in app studio, due to 503, Cannot create teams app due to Error: Request failed with status code 503
	at Function.SystemError (<REDACTED: user-file-path>:2:5958611)
	at AppStudioPluginImpl.

[2022-11-09 09:33] thanhnguyen0504 opened #6723 "bug report: AppStudioPlugin.DeveloperPortalAPIFailed"
API call to Developer Portal failed: Error, Request failed with status code 503, API name: create-app, X-Correlation-ID: undefined. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "<!DOCTYPE html PUBLIC '<REDACTED: user-file-path><REDACTED: user-file-path>/DTD XHTML 1.0 <REDACTED: user-file-path>/EN' 'http:/<REDACTED: user-file-pa

[2022-11-09 10:13] thanhnguyen0504 opened #6724 "sideloading check failed"
Today, when I sign-in to Teams Tookit, I received the message: sideloading check failed
![image](https://user-images.githubusercontent.com/56904041/200800937-5c026aac-2863-4117-9d00-e5e6767e47d3.png)

Base on the document : https://learn.microsoft.com/en-us/microsoftteams/platform/m365-apps/prerequisites#prepare-a-developer-tenant-for-testing

I checked and found that the Upload custom apps was en

[2022-11-10 02:10] nliu-ms commented on #6723
Hey @thanhnguyen0504 , we noticed this issue and has reported to Teams Developer Portal team. They have fixed this issue in 2 clusters and other clusters should be deployed in today. Sorry for the inconvenience!

[2022-11-10 02:11] #6679 closed, assigned to nobody

[2022-11-10 02:12] nliu-ms commented on #6683
Hey @NarenderSingh , let's track in https://github.com/OfficeDev/TeamsFx/issues/6723.

[2022-11-10 02:12] #6683 closed

[2022-11-10 02:13] nliu-ms commented on #6690
Hey @Annajoe96 , let's track in https://github.com/OfficeDev/TeamsFx/issues/6723.

[2022-11-10 02:14] nliu-ms commented on #6693
Sorry @Nikita-Ryabko , @bemokraig , we monitored this issue and reported to Teams Developer Portal team 2 days ago. They found the root cause and are working on to get it fixed. Let's track in this issue: https://github.com/OfficeDev/TeamsFx/issues/6723

[2022-11-10 02:14] #6693 closed

[2022-11-10 02:16] adashen commented on #6719
close as duplicate with https://github.com/OfficeDev/TeamsFx/issues/6723

[2022-11-10 02:16] #6719 closed

[2022-11-10 02:16] adashen commented on #6708
close as duplicate with https://github.com/OfficeDev/TeamsFx/issues/6723

[2022-11-10 02:17] adashen commented on #6692
close as duplicate with https://github.com/OfficeDev/TeamsFx/issues/6723

[2022-11-10 02:17] #6692 closed

[2022-11-10 02:53] MuyangAmigo commented on #4084
@sylvesteraswin Have you had any chance to give the latest Teams Toolkit (V4.1.1) a try? We have added the support to [customize the behavior of local debug](https://aka.ms/teamsfx-debug-tasks). For example you could change the `Start frontend` section with the command you want to use with `vite` and make sure to update the `endsPattern` so VS Code knows when commands execution is done and will op

[2022-11-10 03:06] Anandks1993 commented on #6663
@HuihuiWu-Microsoft Any updates regarding this issue?

[2022-11-10 06:38] HuihuiWu-Microsoft commented on #6663
Hi @Anandks1993, sorry for late reply since I was busy working on the new release. From the source code, the SPFx solution should be created before this renaming happens. I'm not sure whether there's anything wrong with the yeoman scaffolding. Could you help check the following items?
1> Check whether yo executables exist under '<HOME>\.fx\bin\yo' or '<HOME>\.fx\bin\yo\node_modules\.bin'
2> Check

[2022-11-10 07:35] hund030 opened #6739 "TypeScript Api function build error: Namespace '"fs"' has no exported member 'Dir'."
**Describe the bug**
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Create project from sample `Hello World Tab with Backend`
2. Run the commands:
[code]
3. Remove the node_modules folder from the project's root folder and then the build script works.

**Expected behavior**
Expected the project can be built successfully.

**VS Code Extension Information (please complete the following

[2022-11-10 07:38] hund030 commented on #6739
I found there are two workarounds. Applying either resolves the issue.
1. Install latest @types/node to api project. `npm install @types/node`
2. Add `typeRoots: ["./node_modules/@types"]` to api/tsconfig.json.

[2022-11-10 10:08] Anandks1993 commented on #6663
@HuihuiWu-Microsoft No problem.

1> There isn't bin folder under .fx folder, I can only see configs folder under .fx (Assuming you are asking folders under the newly generated folder via toolkit)
2> No as bin folder is not present.
3> As there is no bin folder I don't think I can run the command. (This one is a bit confusing for me as you have mentioned empty folder.)

**Note:** I have already ins

[2022-11-10 13:57] bemokraig opened #6751 "Import Custom App Fails to add Enterprise App registration - app fails to run"
**Describe the bug**
In the past week roughly deployment of a custom app to a test tenant / teams failed and continues to fail today.  The app fails to initialize.  It does not register an enterprise app in the tenant.

This has nothing to do with any code in the app but seems to be init.  Web Sockets are enabled.

**To Reproduce**

Create a new Teams App Tab from Visual Studio 2022 template
Deplo

[2022-11-10 17:02] Edward-A-W opened #6752 "Teams Toolkit message summary when sending adaptive cards"
**Is your feature request related to a problem? Please describe.**
I'm building a notification bot using teams toolkit, and as far as I can tell there is no way to alter the summary text teams sends whenever an adaptive card is sent to the channel. I've seen that this functionality exists for the sdk but have found no reference to it in the documentation for the teams toolkit.

**Describe the solu

[2022-11-11 02:29] nliu-ms commented on #6723
Hey @thanhnguyen0504  the unhealthy clusters have been deployed again. This issue should have been mitigated now. I've verified it from our telemetry. Please let us know if you still meet this issue. Thanks!

[2022-11-11 02:30] nliu-ms commented on #6724
Hey @thanhnguyen0504 , this issue has same root cause with https://github.com/OfficeDev/TeamsFx/issues/6723. And this issue should have been mitigated now. Please let me know if you still meet this error.

[2022-11-11 02:30] #6724 closed

[2022-11-11 02:39] #6723 closed

[2022-11-11 04:25] HuihuiWu-Microsoft commented on #6663
Hi @Anandks1993, when creating SPFx project, we'll install the packages under /.fx for scaffolding. It's weird that you don't have it. Did you disable the prerequisite check in settings? You can search 'Preferences: Open settings(UI)' in command palette and check the following option:
![image](https://user-images.githubusercontent.com/73154171/201262990-bc47c554-f2cf-4214-9a4a-3e253079b2cb.png)

[2022-11-11 07:02] Anandks1993 commented on #6663
Hi @HuihuiWu-Microsoft , No, I haven't disabled that settings, in fact I just came to know about that from you. I checked the settings you mentioned in vs code and that is in enabled state. I am attaching the screenshot of that settings.

![image](https://user-images.githubusercontent.com/26414695/201282166-884bbf71-ec5d-4294-86ff-302ded312bae.png)

[2022-11-11 07:05] qinezh commented on #6752
Hi @Edward-A-W, would you please share the expected place to display the summary when an adaptive card is sent to a Team channel? A screenshot would help us understand your issue. Thanks!

[2022-11-11 08:01] HuihuiWu-Microsoft commented on #6663
Hi @Anandks1993, sorry I missed the comment you left in the brackets. Here I mean the `.fx` folder under HOME directory, not the one in newly created project. Could you help check?

[2022-11-11 08:57] Edward-A-W commented on #6752
Hi, yeah of course.
<img width="224" alt="Screenshot 2022-11-11 at 08 51 42" src="https://user-images.githubusercontent.com/117934156/201302938-9cf46b15-abc5-47ce-bb1c-100b33cab63d.png">
Here is an example of what I'm referring to, whenever you send an adaptive card with a notification bot via sendAdaptiveCard() the notification text or summary is always "Sent a card" regardless of the content of

[2022-11-11 12:07] Anandks1993 commented on #6663
@HuihuiWu-Microsoft Sorry I am not getting what you mean by HOME directory.

[2022-11-11 12:13] Anandks1993 commented on #6663
This is what I am getting when I tried from an empty folder. I assume error is thrown because of the `Username` as mine is having a SPACE.

![image](https://user-images.githubusercontent.com/26414695/201337972-52673bbc-36a6-4f5b-a48a-dbac51c5d62d.png)

[2022-11-11 18:01] Debro012 opened #6766 "Local debugging with a developer provided AAD App Registration not working"
**Describe the bug**
I'm familiar with developing Teams Bots, but this would be the first app that I developed which included Tabs. Therefore, I was seeking to understand more about the Teams app toolkit and move forward with the basic HelloWorld Tab Teams app. In my work enterprise tenant, developers are not permitted to create Azure AD App registrations. This led me to have an app registration c

[2022-11-12 19:12] homeaidepi opened #6767 "bug report: unknown.ZipDeployError"
stack:
ZipDeployError:
    at Function.zipDeployPackage (<REDACTED: user-file-path>:2:6053953)
    at processTicksAndRejections (node:<REDACTED: user-file-path>:96:5)
    at Object.azureWebSiteDeploy (<REDACTED: user-file-path>:2:6067876)
    at AzureWebAppResource.deploy (<REDACTED: user-file-path>:2:7463325)
    at AzureWebAppResource.deploy (<REDACTED: user-file-path>:2:7470308)
    at Object.t

[2022-11-13 17:15] bemokraig commented on #6751
Repro'd with two tenants not associated with our tenant so not a local issue.

[2022-11-14 01:03] KennethBWSong commented on #6766
@Debro012 Thank you for using our Toolkit.
First of all, since you are working on a non SSO template, Teams Toolkit will ignore your configs of AAD app since AAD app is only for SSO. You can follow [tutorial](https://learn.microsoft.com/en-us/microsoftteams/platform/toolkit/add-single-sign-on?tabs=typescript%2F%3Ffrom%3Dteamstoolkit) to add SSO to your project and then Toolkit will try to use your

[2022-11-14 05:01] MuyangAmigo commented on #6752
@Edward-A-W Thanks for bringing this to us. We will consider this feature request in further releases, please stay tunned!

[2022-11-14 05:26] HuihuiWu-Microsoft commented on #6672
Hi @Anandks1993, the issue has been fixed in hotfix release. You can try [this version](https://marketplace.visualstudio.com/_apis/public/gallery/publishers/TeamsDevApp/vsextensions/ms-teams-vscode-extension/4.1.2/vspackage) to verify.

[2022-11-14 13:49] Anandks1993 commented on #6672
@HuihuiWu-Microsoft Yes it is loading now. Thanks.

[2022-11-15 02:05] xzf0587 opened #6794 "[Test for azdo] Test issue"
This is a test issue for azdo. Sorry for inconvenience.
It will be deleted once the test is finished.

[2022-11-15 02:40] KennethBWSong commented on #6751
Hi @bemokraig Thank you for using our Toolkit. I want to ask a few questions to help us better understand your problem.
1. Which version of VS are you using now? You can go to 'help' -> 'About Visual Studio' to check your version.
2. Would you please check whether Azure AD app is successfully created when provision? You can go to `.fx/states/state.{env}.json` and find related info in 'fx-resource-

[2022-11-15 03:10] HuihuiWu-Microsoft commented on #6663
Hi @Anandks1993, I suspect your issue might be related to your `Username` with space. Can you help try logon with user that doesn't have space in the name to see whether the issue still exist?
If you have to do this with current username, maybe I can trigger a test build for you to verify.

[2022-11-15 05:20] Anandks1993 commented on #6663
Hi @HuihuiWu-Microsoft Yes I need to do this with current username as it is my office device.

[2022-11-15 15:34] Debro012 commented on #6766
Thank you. I will proceed in following this path and provide an update. In relation to the app in Teams automatically upon local debugging, I was able to get the following after repeated attempts:

![image](https://user-images.githubusercontent.com/25011039/201960166-b937643c-162a-43c3-be23-0601f58a21aa.png)

However, the option to "add" the app never appears. BTW, I am assigned a custom policy wh

[2022-11-15 16:30] Debro012 commented on #6766
I figured out one issue: the manifest had not been updated to include the Tab feature. That's why the option to add was not presented. This was added via the Developer Portal Teams App. I'm still having to stop debugging/close the browser and attempt multiple tries to start debugging and get the Teams web app itself to successfully load.

[2022-11-15 16:36] bemokraig commented on #6751
Thanks for the reply.  This is a very critical issue for me as I am unable to test deployment to customer tenants and am approaching a release date.  We are a Microsoft MSP reseller.

2 Versions Microsoft Visual Studio Enterprise 2022 (64-bit) - Current
Version 17.3.6
Version 17.4

There is a problem in the Admin.Teams Manage Apps area.
My app checks for consent required (as do a templates) and th

[2022-11-16 02:17] KennethBWSong commented on #6766
@Debro012 Good to see the Tab is working now. It is strange that the Teams app manifests does not include Tab info. Would you please share `templates/appPackage/manifest.template.json` with us?

[2022-11-16 02:22] KennethBWSong commented on #6751
@bemokraig Do you mean that your app works well in the tenant same as your M365 account and just fail in other tenants?
In this scenario, you need to follow the [steps](https://github.com/OfficeDev/TeamsFx/wiki/Multi-tenancy-Support-for-Azure-AD-app) to use multi-tenant AAD app.

[2022-11-16 02:40] Peter-Swipedon opened #6831 "bug report: AppStudioPlugin.DeveloperPortalAPIFailed"
API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: f20c5633-bc38-4128-b9f3-59e19ff8ca89. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "Value cannot be <REDACTED: user-file-path> name: accessToken"

stack:
DeveloperPortalAPIFailed: API call to Developer Portal

[2022-11-16 18:17] Leviani opened #6856 "bug report: unknown.TypeError"
Just started a fresh sample of the Toolkit from the ToDo List with Azure component.
Did a preview / debug run, and then tried to press on "Add features" in the Development Tab, which gave me this message:

Cannot read properties of undefined (reading 'length')

stack:
TypeError: Cannot read properties of undefined (reading 'length')
    at Object.getQuestionsForAddFeatureV3 (<REDACTED: user-file-p

[2022-11-17 06:04] SLdragon commented on #5997
Hi, @jensker , this bug has been fixed and merged into dev branch, and now it supports redirect URL with custom schema, you can try the latest VSCode Teams Toolkit extension from our daily release page tomorrow: https://github.com/OfficeDev/TeamsFx/releases

[2022-11-17 17:01] #6831 closed

[2022-11-18 02:54] HuihuiWu-Microsoft commented on #6663
Hi @Anandks1993, I'm working on the friendly build for you to test since others don't have the same issue. Will update to you once ready.
Regarding the SDK issue, @tecton can you help answer the question here?

[2022-11-18 03:17] tecton commented on #6663
Hi @Anandks1993, you could use `teamsfx.getCredential().getToken()` if you just want to get the access token. Once you catch the error that user has not consented, you could call `teamsfx.login()` to open the login popup.

[2022-11-18 03:51] Anandks1993 commented on #6663
@HuihuiWu-Microsoft  Thank you so much, meanwhile I will also check if I can work with another username without space on it.

@tecton Yeah got it, thank you for the quick help.

[2022-11-18 09:00] jerome-pialot opened #6894 "Port 53000 already in use"
I sometimes encounter a blocking issue while trying to launch my application in debugguing mode with vs code, where prerequisits check locks on "port 53000 already in use".
I find no process using tcp port 53000.

Looking onto all forum and discussions, i found a solution that works for me: reset NAT windows service

[2022-11-19 13:02] bemokraig commented on #6751
This has resolved the issue, I re-provisioned the app and did not manually update it.  Thanks for the help.

[2022-11-19 13:02] #6751 closed

[2022-11-19 16:46] Githamza opened #6898 "MS teams toolkit very slow when running debugger and custom tab app don't get added"
I'm developing an app with tab and bot capabilities.

When I run the debugger ( or F5 ), the teams window popup in order to install the custom app ( for meetings ).

This process since a while does not work well:
The page with the teams logo stuck for 1 or 2 minutes

After that I get in the teams app store. but the modal to install it does not show , it only stays in the store home screen.

I trie

[2022-11-20 16:01] #6598 closed

[2022-11-21 06:32] jidddddd commented on #6898
Hi @Githamza, thanks for reporting the issue! Could you help provide some more details on the process you went through to create your app? Did you start with a Teams Toolkit sample or did you started with a new Tab app?

[2022-11-21 06:46] kuojianlu commented on #6894
@jerome-pialot From your solution, I guess the port 53000 has been already used by winnat. Actually, you can use another port instead of 53000 in Teams Toolkit to solve "Port 53000 already in use". Follow the steps:
1. Update the port in `baseUrl` arg in "Set up Tab" task in `.vscode/tasks.json`, e.g., using **53001**:
[code]
2. Update the `ports` arg in `Validate & Install prerequisites` task in

[2022-11-22 05:16] HuihuiWu-Microsoft commented on #6663
Hi @Anandks1993, I raised a [PR](https://github.com/OfficeDev/TeamsFx/pull/6933) to fix this issue. I can send you daily build tomorrow so you can try whether it resolves the bug.

[2022-11-22 10:00] Anandks1993 commented on #6663
@HuihuiWu-Microsoft Thank you, will try the build once you send.

[2022-11-22 12:15] Anandks1993 commented on #5609
Hi @AnthonyPhan, We are also facing this issue right now, any update on this issue?

We are hosting the app in Azure Web App and now if we open the app it is saying `blank-auth-end.html` file is not found.

[2022-11-23 01:54] HuihuiWu-Microsoft commented on #6663
Hi @Anandks1993, please help try the [build](https://github.com/OfficeDev/TeamsFx/releases/download/vscode-extension-4.1.4-alpha.378c52f64.0/ms-teams-vscode-extension-4.1.4-alpha.378c52f64.0.vsix) to see if you still have the problem.

[2022-11-23 04:04] Anandks1993 commented on #6663
@HuihuiWu-Microsoft  This build is working perfectly :tada:. App is successfully created with this one. Thank you so much for resolving this issue.

I'll leave it to you to close the issue as you may have to publish the changes.

[2022-11-23 05:23] HuihuiWu-Microsoft commented on #6663
Great to heat that! Thanks @Anandks1993 for verifying. The fix will be included in next release.

[2022-11-23 12:39] Githamza commented on #6898
I have tried to provide details in me initial post but not easy because I don't where the issue comes from

I have started the `Hello_World_Tab_with_Backend` sample app from the tookit catalog

Then I used Azure serverless functions to build my backend.

It's not easy to reproduce the problem.

What I have done recently is to start the same sample of `Hello_World_Tab_with_Backend` example app. the

[2022-11-23 22:41] AnthonyPhan commented on #5609
No update on this on our end. Based on our application insight we belive this is an on-going issue affecting a large number of our users.

This sounds like a separate issue.

[2022-11-24 09:31] Githamza opened #6974 "teams calling graph api working in webapp but not in desktop"
The sso is working well ,
but when I call graph api using :

[code]

I get error
`alert:****Error: Failed to get access token cache silently, please login first: you need login first before get access token.`

When I login on web app with the same user the api call works well

I tried to logout then login in the desktop app : no fix
Remove cache : `rm -r ~/Library/Application\ Support/Microsoft/Te

[2022-11-24 10:12] Githamza opened #6975 "Can't launch Custom meeting app in teams web version"
I have added my custom app to a meeting

When I launch the meeting in desktop app I get the app icon

<img width="430" alt="image" src="https://user-images.githubusercontent.com/11578288/203757368-a86b7afc-8338-49f6-8c4d-07a4dbaafed0.png">

but when I use the web app in chrome or edge :

<img width="639" alt="image" src="https://user-images.githubusercontent.com/11578288/203757534-408e2d00-dbab-49

[2022-11-24 12:19] mizginstlm opened #6978 "bug report: AppStudioPlugin.DeveloperPortalAPIFailed"
API call to Developer Portal failed: Error, Request failed with status code 422, API name: create-app, X-Correlation-ID: 5fe7d18c-8cd6-4478-abdb-05d8e75e952f. This may come from some intermittent service error. Please wait for a few minutes and retry the current step. data: "Value cannot be <REDACTED: user-file-path> name: accessToken"

stack:
DeveloperPortalAPIFailed: API call to Developer Portal

[2022-11-25 02:33] jidddddd commented on #6898
@Githamza Let's set up a meeting to look at this issue, feel free to email me (address in my profile).

[2022-11-25 09:32] biogenez opened #6986 "Developer section doesn't change in manifest file"
**Describe the bug**
Developer section didn't changed in the environment manifest file

**To Reproduce**
Steps to reproduce the behavior:
1. Create new teams app with bot
2. Open file: manifest.template.json
3. Change any information in the "developer" section (e.g. name, websiteUrl etc.)
4. Save file
5. Press F5.
6. Open generated file /build/appPackage/manifest.local.json
7. Check developer sect

[2022-11-25 22:22] AlperSL opened #6987 "Microsoft.Bot.Builder.Integration.AspNet.Core not found"
**Describe the bug**
I am following the steps to create a sample Message Extension using Visual Studio 2022.
Several packages are not found.

Error	NU1101	Unable to find package Microsoft.Bot.Builder.Integration.AspNet.Core. No packages exist with this id in source(s): Microsoft Visual Studio Offline Packages	MyTeamsApp3
Error	NU1101	Unable to find package Microsoft.Bot.Builder. No packages exist

[2022-11-27 16:01] #6766 closed

[2022-11-27 20:14] b2ktortechnik opened #6991 "bug report: unknown.Error"
EPERM: operation not permitted, mkdir '<REDACTED: user-file-path>'

stack:
Error: EPERM: operation not permitted, mkdir '<REDACTED: user-file-path>'

[2022-11-29 02:03] JerryYangKai commented on #6987
Hi @AlperSL, I suggest adding a nuget.config file to the solution directory, it will resolve the issue.
The content is

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>

[2022-11-29 05:13] blackchoey commented on #6974
@Githamza can you create a new `SSO-enabled tab` project and see whether the project can successfully call Graph API (the code calls Graph API to show your profile) in desktop app?

`Failed to get access token cache silently` message means the SDK failed to acquire a cache in browser's session storage and also cannot login the user silently. Here's the logic FYI: https://github.com/OfficeDev/Teams

[2022-11-29 05:49] adashen commented on #6991
Hi @b2ktortechnik thanks for reporting the issue. Can you help to add more information about the repro steps and error message?